WaDE-Data-Factory/PartialArmTemplates/ArmTemplate_5_30_2019_11_27_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "WaDE-Data-Factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadCVs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_AggregationStatistic",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_AggregationStatistic",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AggegationStatisticCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_ReportYearType",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_ReportYearType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ReportYearTypeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_EPSGCode",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/api/v1/epsgcode/?format=csv"
							},
							{
								"name": "Destination",
								"value": "CVs.EPSGCode"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_epsgcode",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "EpsgCodeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_GNISFeatureName",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/api/v1/gnisfeaturename/?format=csv"
							},
							{
								"name": "Destination",
								"value": "CVs.GNISFeatureName"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_GnisFeatureName",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "GnisFeatureNameCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_CropType",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_CropType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CropTypeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_IrrigationMethod",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_IrrigationMethod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "IrrigationMethodCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_LegalStatus",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_LegalStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "LegalStatusCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_MethodType",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_MethodType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "MethodTypeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_NAICSCode",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_NaicsCode",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "NaicsCodeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_NHDNetworkStatus",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_NHDNetworkStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "NhdNetworkStatusCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_NHDProduct",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_NHDProduct",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "NhdProductCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_RegulatoryStatus",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_RegulatoryStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "RegulatoryStatusCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_ReportingUnitType",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_ReportingUnitType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ReportingUnitTypeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_ReportYear",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_ReportYear",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ReportYearCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_SiteType",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_SiteType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SiteTypeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_Units",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_Units",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "UnitsCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_USGSCategory",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_UsgsCategory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "UsgsCategoryCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_Variable",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_Variable",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VariableCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_VariableSpecific",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_VariableSpecific",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "VariableSpecificCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_WaterAllocationBasis",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_WaterAllocationBasis",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WaterAllocationBasisCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_WaterQualityIndicator",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_WaterQualityIndicator",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WaterQualityIndicatorCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_WaterAllocationType",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_WaterAllocationType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WaterAllocationTypeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_WaterSourceType",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_WaterSourceType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WaterSourceTypeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CvDataFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy_CropType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_AggregationStatistic",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_ReportYearType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_EPSGCode",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_GNISFeatureName",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_IrrigationMethod",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_LegalStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_MethodType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_NAICSCode",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_NHDNetworkStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_NHDProduct",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_RegulatoryStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_ReportingUnitType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_ReportYear",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_SiteType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Units",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_USGSCategory",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_VariableSpecific",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_WaterAllocationBasis",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_WaterQualityIndicator",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_WaterAllocationType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_WaterSourceType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_ApplicableResourceType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_CoordinateMethod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "CvDataFlow",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "Copy_ApplicableResourceType",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_ApplicableResourceType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ApplicableResourceTypeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy_CoordinateMethod",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_CoordinateMethod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CoordinateMethodCsv",
								"type": "DatasetReference"
							}
						]
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/CvDataFlow')]",
				"[concat(variables('factoryId'), '/datasets/CVs_ApplicableResourceType')]",
				"[concat(variables('factoryId'), '/datasets/ApplicableResourceTypeCsv')]",
				"[concat(variables('factoryId'), '/datasets/CVs_CoordinateMethod')]",
				"[concat(variables('factoryId'), '/datasets/CoordinateMethodCsv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CVs_ApplicableResourceType')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CVsAPI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GetCVs_data"
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"relativeUrl": "/api/v1/applicableresourcetype/?format=csv",
					"requestMethod": "GET"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CVs_CoordinateMethod')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CVsAPI",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "GetCVs_data"
				},
				"type": "HttpFile",
				"structure": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"relativeUrl": "/api/v1/coordinatemethod/?format=csv",
					"requestMethod": "GET"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CvDataFlow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "CvData"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CropTypeCsv",
								"type": "DatasetReference"
							},
							"name": "CropTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CropTypeCSV"
						},
						{
							"dataset": {
								"referenceName": "AggegationStatisticCsv",
								"type": "DatasetReference"
							},
							"name": "AggregationStatisticCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> AggregationStatisticCSV"
						},
						{
							"dataset": {
								"referenceName": "ReportYearTypeCsv",
								"type": "DatasetReference"
							},
							"name": "ReportYearTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReportYearTypeCSV"
						},
						{
							"dataset": {
								"referenceName": "EpsgCodeCsv",
								"type": "DatasetReference"
							},
							"name": "EpsgCodeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> EpsgCodeCSV"
						},
						{
							"dataset": {
								"referenceName": "GnisFeatureNameCsv",
								"type": "DatasetReference"
							},
							"name": "GnisFeatureNameCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> GnisFeatureNameCSV"
						},
						{
							"dataset": {
								"referenceName": "IrrigationMethodCsv",
								"type": "DatasetReference"
							},
							"name": "IrrigationMethodCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> IrrigationMethodCSV"
						},
						{
							"dataset": {
								"referenceName": "LegalStatusCsv",
								"type": "DatasetReference"
							},
							"name": "LegalStatusCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> LegalStatusCSV"
						},
						{
							"dataset": {
								"referenceName": "MethodTypeCsv",
								"type": "DatasetReference"
							},
							"name": "MethodTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> MethodTypeCSV"
						},
						{
							"dataset": {
								"referenceName": "NaicsCodeCsv",
								"type": "DatasetReference"
							},
							"name": "NaicsCodeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> NaicsCodeCSV"
						},
						{
							"dataset": {
								"referenceName": "NhdNetworkStatusCsv",
								"type": "DatasetReference"
							},
							"name": "NhdNetworkStatusCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> NhdNetworkStatusCSV"
						},
						{
							"dataset": {
								"referenceName": "NhdProductCsv",
								"type": "DatasetReference"
							},
							"name": "NhdProductCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> NhdProductCSV"
						},
						{
							"dataset": {
								"referenceName": "RegulatoryStatusCsv",
								"type": "DatasetReference"
							},
							"name": "RegulatoryStatusCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> RegulatoryStatusCSV"
						},
						{
							"dataset": {
								"referenceName": "ReportingUnitTypeCsv",
								"type": "DatasetReference"
							},
							"name": "ReportingUnitTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReportingUnitTypeCSV"
						},
						{
							"dataset": {
								"referenceName": "ReportYearCsv",
								"type": "DatasetReference"
							},
							"name": "ReportYearCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReportYearCSV"
						},
						{
							"dataset": {
								"referenceName": "SiteTypeCsv",
								"type": "DatasetReference"
							},
							"name": "SiteTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SiteTypeCSV"
						},
						{
							"dataset": {
								"referenceName": "UnitsCsv",
								"type": "DatasetReference"
							},
							"name": "UnitsCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UnitsCSV"
						},
						{
							"dataset": {
								"referenceName": "UsgsCategoryCsv",
								"type": "DatasetReference"
							},
							"name": "UsgsCategoryCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UsgsCategoryCSV"
						},
						{
							"dataset": {
								"referenceName": "VariableCsv",
								"type": "DatasetReference"
							},
							"name": "VariableCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> VariableCSV"
						},
						{
							"dataset": {
								"referenceName": "VariableSpecificCsv",
								"type": "DatasetReference"
							},
							"name": "VariableSpecificCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> VariableSpecificCSV"
						},
						{
							"dataset": {
								"referenceName": "WaterAllocationBasisCsv",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationBasisCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterAllocationBasisCSV"
						},
						{
							"dataset": {
								"referenceName": "WaterAllocationTypeCsv",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterAllocationTypeCSV"
						},
						{
							"dataset": {
								"referenceName": "WaterQualityIndicatorCsv",
								"type": "DatasetReference"
							},
							"name": "WaterQualityIndicatorCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterQualityIndicatorCSV"
						},
						{
							"dataset": {
								"referenceName": "WaterSourceTypeCsv",
								"type": "DatasetReference"
							},
							"name": "WaterSourceTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterSourceTypeCSV"
						},
						{
							"dataset": {
								"referenceName": "ApplicableResourceTypeCsv",
								"type": "DatasetReference"
							},
							"name": "ApplicableResourceTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ApplicableResourceTypeCSV"
						},
						{
							"dataset": {
								"referenceName": "CoordinateMethodCsv",
								"type": "DatasetReference"
							},
							"name": "CoordinateMethodCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CoordinateMethodCSV"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Db_CropType",
								"type": "DatasetReference"
							},
							"name": "CropTypeCvDb",
							"script": "CropTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> CropTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_AggregationStatistic",
								"type": "DatasetReference"
							},
							"name": "AggregationStatisticCvDb",
							"script": "AggregationStatisticCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> AggregationStatisticCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ReportYearType",
								"type": "DatasetReference"
							},
							"name": "ReportYearTypeCvDb",
							"script": "ReportYearTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ReportYearTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_EPSGCode",
								"type": "DatasetReference"
							},
							"name": "EpsgCodeCvDb",
							"script": "EpsgCodeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> EpsgCodeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_GNISFeatureName",
								"type": "DatasetReference"
							},
							"name": "GnisFeatureNameCvDb",
							"script": "GnisFeatureNameCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> GnisFeatureNameCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_IrrigationMethod",
								"type": "DatasetReference"
							},
							"name": "IrrigationMethodCvDb",
							"script": "IrrigationMethodCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> IrrigationMethodCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_LegalStatus",
								"type": "DatasetReference"
							},
							"name": "LegalStatusCvDb",
							"script": "LegalStatusCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> LegalStatusCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_MethodType",
								"type": "DatasetReference"
							},
							"name": "MethodTypeCvDb",
							"script": "MethodTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> MethodTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_NAICSCode",
								"type": "DatasetReference"
							},
							"name": "NaicsCodeCvDb",
							"script": "NaicsCodeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> NaicsCodeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_NHDNetworkStatus",
								"type": "DatasetReference"
							},
							"name": "NhdNetworkStatusCvDb",
							"script": "NhdNetworkStatusCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> NhdNetworkStatusCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_NHDProduct",
								"type": "DatasetReference"
							},
							"name": "NhdProductCvDb",
							"script": "NhdProductCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> NhdProductCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_RegulatoryStatus",
								"type": "DatasetReference"
							},
							"name": "RegulatoryStatusCvDb",
							"script": "RegulatoryStatusCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tState as string,\n\t\tDefinition as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tState = state,\n\t\tDefinition = definition,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> RegulatoryStatusCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ReportingUnitType",
								"type": "DatasetReference"
							},
							"name": "ReportingUnitTypeCvDb",
							"script": "ReportingUnitTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ReportingUnitTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ReportYearCV",
								"type": "DatasetReference"
							},
							"name": "ReportYearCvDb",
							"script": "DerivedColumn1 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['name'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ReportYearCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_SiteType",
								"type": "DatasetReference"
							},
							"name": "SiteTypeCvDb",
							"script": "SiteTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> SiteTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_Units",
								"type": "DatasetReference"
							},
							"name": "UnitsCvDb",
							"script": "UnitsCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> UnitsCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_USGSCategory",
								"type": "DatasetReference"
							},
							"name": "UsgsCategoryCvDb",
							"script": "UsgsCategoryCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> UsgsCategoryCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_Variable",
								"type": "DatasetReference"
							},
							"name": "VariableCvDb",
							"script": "VariableCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> VariableCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_VariableSpecific",
								"type": "DatasetReference"
							},
							"name": "VariableSpecificCvDb",
							"script": "VariableSpecificCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> VariableSpecificCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterAllocationBasis",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationBasisCvDb",
							"script": "WaterAllocationBasisCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tState as string,\n\t\tDefinition as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tState = state,\n\t\tDefinition = definition,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterAllocationBasisCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterAllocationType",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationTypeCvDb",
							"script": "WaterAllocationTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tState as string,\n\t\tDefinition as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tState = state,\n\t\tDefinition = definition,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterAllocationTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterQualityIndicator",
								"type": "DatasetReference"
							},
							"name": "WaterQualityIndicatorCvDb",
							"script": "WaterQualityIndicatorCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterQualityIndicatorCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterSourceType",
								"type": "DatasetReference"
							},
							"name": "WaterSourceTypeCvDb",
							"script": "WaterSourceTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterSourceTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ApplicableResourceType",
								"type": "DatasetReference"
							},
							"name": "ApplicableResourceTypeCvDb",
							"script": "ApplicableResourceTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ApplicableResourceTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_CoordinateMethod",
								"type": "DatasetReference"
							},
							"name": "CoordinateMethodCvDb",
							"script": "CoordinateMethodCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> CoordinateMethodCvDb"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1",
							"script": "ReportYearCSV derive(name = substring(name, 1, 4)) ~> DerivedColumn1"
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ApplicableResourceTypeCsv')]",
				"[concat(variables('factoryId'), '/datasets/CoordinateMethodCsv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UT_Sites_Normalization')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Utah"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "UT_Points_of_Diversion",
								"type": "DatasetReference"
							},
							"name": "UTPointsOfDiversion",
							"script": "source(output(\n\t\tWRCHEX as string,\n\t\tPOD_TYPE as string,\n\t\tNS_DIRECTION as string,\n\t\tNS_DISTANCE as string,\n\t\tEW_DIRECTION as string,\n\t\tEW_DISTANCE as string,\n\t\tSECTION_CORNER as string,\n\t\tSTR as string,\n\t\tDIVERTING_WORKS as string,\n\t\tPOD_COMMENT as string,\n\t\tWELL_DIAMETER as string,\n\t\tWELL_DEPTH1 as string,\n\t\tWELL_DEPTH2 as string,\n\t\tWELL_YEAR_DRILLED as string,\n\t\tWELL_LOG as string,\n\t\tWIN as string,\n\t\tX_UTM as string,\n\t\tY_UTM as string,\n\t\tELEVATION as string,\n\t\trecordId as string,\n\t\tMANUAL as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTPointsOfDiversion"
						},
						{
							"dataset": {
								"referenceName": "UT_Converted_Points",
								"type": "DatasetReference"
							},
							"name": "UTConvertedPoints",
							"script": "source(output(\n\t\tXCoord as string,\n\t\tYCoord as string,\n\t\tLatitude as string,\n\t\tLongitude as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTConvertedPoints"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "UT_NormalizedSites",
								"type": "DatasetReference"
							},
							"name": "NormalizedSites",
							"script": "SelectJoined sink(input(\n\t\tSiteUUID as string,\n\t\tSiteNativeID as string,\n\t\tSiteName as string,\n\t\tUSGSSiteID as string,\n\t\tSiteTypeCV as string,\n\t\tLongitude as string,\n\t\tLatitude as string,\n\t\tGeometry as string,\n\t\tCoordinateMethodCV as string,\n\t\tCoordinateAccuracy as string,\n\t\tGNISCodeCV as string,\n\t\tEPSGCodeCV as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionBy('hash', 1),\n\tpartitionFileNames:['sites.csv']) ~> NormalizedSites"
						}
					],
					"transformations": [
						{
							"name": "DerivedPointsOfDiversion",
							"script": "UTPointsOfDiversion derive(SiteUUID = 'UT_' + WRCHEX,\n\t\tSiteNativeID = WRCHEX,\n\t\tSiteName = 'UT_' + WRCHEX,\n\t\tUSGSSiteID = '',\n\t\tSiteTypeCV = case(POD_TYPE == '', ''\r\n    ,POD_TYPE == 'A', 'UT_A'\r\n    ,POD_TYPE == 'C', 'UT_CFNP'\r\n    ,POD_TYPE == 'D', 'UT_D'\r\n    ,POD_TYPE == 'F', 'UT_CFNP'\r\n    ,POD_TYPE == 'G', 'Spring'\r\n    ,POD_TYPE == 'N', 'UT_CFNP'\r\n    ,POD_TYPE == 'P', 'UT_CFNP'\r\n    ,POD_TYPE == 'R', 'UT_R'\r\n    ,POD_TYPE == 'S', 'UT_S'\r\n    ,POD_TYPE == 'T', 'UT_T'\r\n    ,POD_TYPE == 'U', 'UT_U'),\n\t\tGeometry = '',\n\t\tCoordinateMethodCV = 'GPS',\n\t\tCoordinateAccuracy = '',\n\t\tGNISCodeCV = '',\n\t\tEPSGCodeCV = 'EPSG4326') ~> DerivedPointsOfDiversion"
						},
						{
							"name": "SelectPointsOfDiversion",
							"script": "DerivedPointsOfDiversion select(mapColumn(\n\t\tSiteUUID,\n\t\tSiteNativeID,\n\t\tSiteName,\n\t\tUSGSSiteID,\n\t\tSiteTypeCV,\n\t\tGeometry,\n\t\tCoordinateMethodCV,\n\t\tCoordinateAccuracy,\n\t\tGNISCodeCV,\n\t\tEPSGCodeCV,\n\t\tXCoord = X_UTM,\n\t\tYCoord = Y_UTM\n\t))~> SelectPointsOfDiversion"
						},
						{
							"name": "JoinConvertedPoints",
							"script": "SelectPointsOfDiversion, UTConvertedPoints join(SelectPointsOfDiversion@XCoord == UTConvertedPoints@XCoord\n\t&& SelectPointsOfDiversion@YCoord == UTConvertedPoints@YCoord,\n\tjoinType:'left',\n\tbroadcast: 'none')~> JoinConvertedPoints"
						},
						{
							"name": "SelectJoined",
							"script": "JoinConvertedPoints select(mapColumn(\n\t\tSiteUUID,\n\t\tSiteNativeID,\n\t\tSiteName,\n\t\tUSGSSiteID,\n\t\tSiteTypeCV,\n\t\tGeometry,\n\t\tCoordinateMethodCV,\n\t\tCoordinateAccuracy,\n\t\tGNISCodeCV,\n\t\tEPSGCodeCV,\n\t\tLatitude,\n\t\tLongitude\n\t))~> SelectJoined"
						}
					]
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/UT_WaterAllocation_Normalization')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Utah"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "UT_Master_Water_Rights_Exchange",
								"type": "DatasetReference"
							},
							"name": "UTMaster",
							"script": "source(output(\n\t\tWRNUM as string,\n\t\tAPPL_CLAIM_NUMBER as string,\n\t\tCERTIFICATE_NUMBER as string,\n\t\tLAND_OWNERSHIP as string,\n\t\tWREX_CFS as string,\n\t\tWREX_ANDOR as string,\n\t\tWREX_ACFT as string,\n\t\tWREX_SOURCE as string,\n\t\tWREX_COUNTY as string,\n\t\tCOMMON_DESCRIPTION as string,\n\t\tDATE_FILED as string,\n\t\tTAKEN_BY_INITIALS as string,\n\t\tDATE_PRIORITY as string,\n\t\tADV_NEWSPAPER as string,\n\t\tDATE_PUB_BEGAN as string,\n\t\tDATE_PROOF_PUB as string,\n\t\tPROTESTED as string,\n\t\tDATE_PROTEST_END as string,\n\t\tMEMO_DECISION as string,\n\t\tDATE_APPROVED_REJECTED as string,\n\t\tAPPROVED_REJECTED as string,\n\t\tDATE_PROOF_DUE as string,\n\t\tDATE_EXTENSION_FILED as string,\n\t\tELECTION_PROOF as string,\n\t\tDATE_ELECTION_PROOF as string,\n\t\tDATE_CERT_WUC_ISSUED as string,\n\t\tDATE_TERMINATED as string,\n\t\tPDBOOK_NUMBER as string,\n\t\tTYPE_OF_RIGHT as string,\n\t\tWREX_STATUS as string,\n\t\tDOCUMENT_ENTERED as string,\n\t\tMAP_NUMBER as string,\n\t\tDATE_RUSH_LETTER as string,\n\t\tDATE_RENOVATED as string,\n\t\tDATE_VERIFIED as string,\n\t\tVERIFIED_BY_INITIALS as string,\n\t\tENDORSEMENT_COMMENT1 as string,\n\t\tENDORSEMENT_COMMENT2 as string,\n\t\tENDORSEMENT_COMMENT3 as string,\n\t\tDATE_PUB_ENDED as string,\n\t\tMODIFIED_LOGON as string,\n\t\tDATE_RECON_REQUESTED as string,\n\t\tRECONSIDER_TYPE as string,\n\t\tIRRIGATION_DIVERSION as string,\n\t\tIRRIGATION_DEPLETION as string,\n\t\tSTOCK_DIVERSION as string,\n\t\tSTOCK_DEPLETION as string,\n\t\tDOMESTIC_DIVERSION as string,\n\t\tDOMESTIC_DEPLETION as string,\n\t\tMUNICIPAL_DIVERSION as string,\n\t\tMUNICIPAL_DEPLETION as string,\n\t\tMINING_DIVERSION as string,\n\t\tMINING_DEPLETION as string,\n\t\tPOWER_DIVERSION as string,\n\t\tPOWER_DEPLETION as string,\n\t\tOTHER_DIVERSION as string,\n\t\tOTHER_DEPLETION as string,\n\t\tEXNUM as string,\n\t\tEXCHANGE_BASE_WRNUM as string,\n\t\tEXCHANGE_CONTRACT_NUMBER as string,\n\t\tEXCHANGE_EVIDENCED1 as string,\n\t\tEXCHANGE_EVIDENCED2 as string,\n\t\tEXCHANGE_EVIDENCED3 as string,\n\t\tEXCHANGE_CFS as string,\n\t\tEXCHANGE_ANDOR as string,\n\t\tEXCHANGE_ACFT as string,\n\t\tEXCHANGE_BEG_DATE as string,\n\t\tEXCHANGE_END_DATE as string,\n\t\tEXCHANGE_SOURCE as string,\n\t\tEXCHANGE_COUNTY as string,\n\t\tEXCHANGE_PORELEASE_SAME as string,\n\t\tEXCHANGE_RELEASE_CFS as string,\n\t\tEXCHANGE_RELEASE_ANDOR as string,\n\t\tEXCHANGE_RELEASE_ACFT as string,\n\t\tEXCHANGE_RELEASE_BEG_DATE as string,\n\t\tEXCHANGE_RELEASE_END_DATE as string,\n\t\tWATER_USES as string,\n\t\tDATE_WUCS_RECEIVED as string,\n\t\tMANUAL_EVALUATION as string,\n\t\tACRE_FEET_EXPORTED as string,\n\t\tDATE_HEARING_HELD as string,\n\t\tDIVERSION_DUTY as string,\n\t\tDEPLETION_DUTY as string,\n\t\tGROWING_SEASON as string,\n\t\tDATE_FIELD_REVIEW as string,\n\t\tAREA_CODE as string,\n\t\tACTIVE_LITIGATION as string,\n\t\tDSYSDB_NUMBER as string,\n\t\tREPORT_TYPE as string,\n\t\tPROOF_DUE_YEARS as string,\n\t\tPUBLIC_VIEW as string,\n\t\tWATER_USE_REPORTING as string,\n\t\tSTREAM_ALT_REQUIRED as string,\n\t\tDAM_PERMIT_REQUIRED as string,\n\t\tWR_SOLE_SUPPLY as string,\n\t\tDATE_LAPSING_LETTER as string,\n\t\tSTOCK_COMPANY_ID as string,\n\t\tSHARES_OF_STOCK as string,\n\t\tOSE_SIGNATURE as string,\n\t\tCERT_SIGNATURE as string,\n\t\tPROOF_PROF_LICENSE_NUMBER as string,\n\t\tCOUNTY_TAX_ID as string,\n\t\tLAST_MODIFIED_TYPE as string,\n\t\tLAST_MODIFIED_TABLE as string,\n\t\tFILE_DESTROYED as string,\n\t\tDATE_50YEAR_PERIOD as string,\n\t\tSUB_BASIN_NUMBER as string,\n\t\tSUB_BASIN_NAME as string,\n\t\tDIVDEP_DOCUMENT_ID as string,\n\t\tFULL_SUPPLY_EQUIVALENCE as string,\n\t\tRECORD_ID as string,\n\t\tSHARES_DISTRIBUTION as string,\n\t\tDECREE_CLASS as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTMaster"
						},
						{
							"dataset": {
								"referenceName": "UT_Flat_Uses",
								"type": "DatasetReference"
							},
							"name": "UTWaterUses",
							"script": "source(output(\n\t\tId as string,\n\t\tValue as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTWaterUses"
						},
						{
							"dataset": {
								"referenceName": "UT_Owners",
								"type": "DatasetReference"
							},
							"name": "UTOwners",
							"script": "source(output(\n\t\tWRCHEX as string,\n\t\tOWNER_NAME as string,\n\t\tOWNER_ADDRESS as string,\n\t\tOWNER_CITY as string,\n\t\tOWNER_STATE as string,\n\t\tOWNER_ZIPCODE as string,\n\t\tOWNER_INTEREST as string,\n\t\tOWNER_PHONE as string,\n\t\tOWNER_REMARKS as string,\n\t\tOWNER_CARE_OF as string,\n\t\tOWNER_EMAIL_ADDRESS as string,\n\t\tOWNER_FIRST_NAME as string,\n\t\tOWNER_LAST_NAME as string,\n\t\tOWNER_TITLE as string,\n\t\tOWNER_ADDRESS1 as string,\n\t\tOWNER_ADDRESS2 as string,\n\t\tOWNER_ADDRESS3 as string,\n\t\tDATE_WUC_SIGNED as string,\n\t\tBAD_ADDRESS as string,\n\t\tPUBLIC_WATER_SUPPLIER as string,\n\t\tTITLE_CONFLICT as string,\n\t\tTITLE_CONFLICT_COMMENTS as string,\n\t\tOWNER_TYPE as string,\n\t\tATTORNEY_RECORD_ID as string,\n\t\trecordId as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTOwners"
						},
						{
							"dataset": {
								"referenceName": "UT_Irrigation_Master",
								"type": "DatasetReference"
							},
							"name": "UTIrrigationMaster",
							"script": "source(output(\n\t\tWRNUM as string,\n\t\tGROUP_IDNUM as string,\n\t\tUSE_IDNUM as string,\n\t\tIRRIGATION_ACREAGE as string,\n\t\tSOLE_SUPPLY as string,\n\t\tDIVERSION_LIMIT as string,\n\t\tUSE_BEG_DATE as string,\n\t\tUSE_END_DATE as string,\n\t\tIRRIGATION_COMMENTS as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTIrrigationMaster"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "UT_NormalizedWaterAllocations",
								"type": "DatasetReference"
							},
							"name": "NormalizedWaterAllocations",
							"script": "UnionWaterAllocations sink(input(\n\t\tOrganizationUUID as string,\n\t\tVariableSpecificUUID as string,\n\t\tSiteUUID as string,\n\t\tWaterSourceUUID as string,\n\t\tMethodUUID as string,\n\t\tPrimaryUseCategory as string,\n\t\tBeneficialUseCategory as string,\n\t\tDataPublicationDate as string,\n\t\tDataPublicationDOI as string,\n\t\tAllocationNativeID as string,\n\t\tAllocationOwner as string,\n\t\tAllocationBasisCV as string,\n\t\tAllocationLegalStatusCV as string,\n\t\tAllocationTypeCV as string,\n\t\tAllocationApplicationDate as string,\n\t\tAllocationPriorityDate as string,\n\t\tAllocationExpirationDate as string,\n\t\tAllocationChangeApplicationIndicator as string,\n\t\tLegacyAllocationIDs as string,\n\t\tAllocationTimeframeStart as string,\n\t\tAllocationTimeframeEnd as string,\n\t\tAllocationCropDutyAmount as string,\n\t\tAllocationAmount as string,\n\t\tAllocationMaximum as string,\n\t\tPopulationServed as string,\n\t\tPowerGeneratedGWh as string,\n\t\tIrrigatedAcreage as string,\n\t\tAllocationCommunityWaterSupplySystem as string,\n\t\tAllocationSDWISIdentifier as string,\n\t\tAllocationAssociatedWithdrawalSiteIDs as string,\n\t\tAllocationAssociatedConsumptiveUseSiteIDs as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionBy('hash', 1),\n\tpartitionFileNames:['waterallocations.csv']) ~> NormalizedWaterAllocations"
						}
					],
					"transformations": [
						{
							"name": "DerivedWaterUses",
							"script": "JoinWaterUses derive(BeneficialUseCategory = replace(replace(replace(replace(replace(replace(Value, 'OTH', 'Other'), 'POW', 'Power'), 'MUN', 'Mining'), 'STK', 'Stockwatering') , 'IRR', 'Irrigation'), 'DOM', 'Domestic'),\n\t\tPrimaryUseCategory = '') ~> DerivedWaterUses"
						},
						{
							"name": "JoinWaterUses",
							"script": "SelectMaster, UTWaterUses join(AllocationNativeID == Id,\n\tjoinType:'left',\n\tbroadcast: 'none')~> JoinWaterUses"
						},
						{
							"name": "JoinOwners",
							"script": "SelectMaster, UTOwners join(AllocationNativeID == WRCHEX,\n\tjoinType:'left',\n\tbroadcast: 'none')~> JoinOwners"
						},
						{
							"name": "JoinIrrigation",
							"script": "SelectMaster, UTIrrigationMaster join(AllocationNativeID == WRNUM,\n\tjoinType:'left',\n\tbroadcast: 'none')~> JoinIrrigation"
						},
						{
							"name": "DerivedOwners",
							"script": "JoinOwners derive(AllocationOwner = OWNER_LAST_NAME + ', ' + OWNER_FIRST_NAME) ~> DerivedOwners"
						},
						{
							"name": "DerivedIrrigation",
							"script": "JoinIrrigation derive(AllocationTimeframeStart = USE_BEG_DATE,\n\t\tAllocationTimeframeEnd = USE_END_DATE) ~> DerivedIrrigation"
						},
						{
							"name": "DerivedMaster",
							"script": "UTMaster derive(OrganizationUUID = 'UTWRE',\n\t\tVariableSpecificUUID = 'Allocation All',\n\t\tSiteUUID = 'UT_' + WRNUM,\n\t\tWaterSourceUUID = 'UT_' + WRNUM,\n\t\tDataPublicationDate = toString(currentDate()),\n\t\tDataPublicationDOI = '',\n\t\tAllocationBasisCV = '',\n\t\tAllocationNativeID = WRNUM,\n\t\tAllocationLegalStatusCV = case(WREX_STATUS == 'ABAN', ''\r\n    ,WREX_STATUS == 'ADEC', 'UT_ADEC'\r\n    ,WREX_STATUS == 'AMEN', ''\r\n    ,WREX_STATUS == 'APP', 'UT_APP'\r\n    ,WREX_STATUS == 'CERT', 'UT_CERT'\r\n    ,WREX_STATUS == 'DIS', 'UT_DIS'\r\n    ,WREX_STATUS == 'EXP', 'UT_EXP'\r\n    ,WREX_STATUS == 'FORF', 'UT_FORF'\r\n    ,WREX_STATUS == 'INV', ''\r\n    ,WREX_STATUS == 'LAP', 'UT_LAP'\r\n    ,WREX_STATUS == 'LAPD', 'UT_LAPD'\r\n    ,WREX_STATUS == 'NPR', 'UT_NPR'\r\n    ,WREX_STATUS == 'NUSE', 'UT_NUSE'\r\n    ,WREX_STATUS == 'PERF', 'UT_PERF'\r\n    ,WREX_STATUS == 'REJ', 'UT_REJ'\r\n    ,WREX_STATUS == 'REJD', 'UT_REJD'\r\n    ,WREX_STATUS == 'RNUM', 'UT_RNUM'\r\n    ,WREX_STATUS == 'TERM', 'UT_TERM'\r\n    ,WREX_STATUS == 'UNAP', 'UT_UNAP'\r\n    ,WREX_STATUS == 'WD', 'UT_WD'\r\n    ,WREX_STATUS == 'WDD', 'UT_WDD'\r\n    ,WREX_STATUS == 'WUC', 'UT_WUC'),\n\t\tAllocationTypeCV = case(TYPE_OF_RIGHT == 'ADEC', 'UT_ADEC'\r\n    ,TYPE_OF_RIGHT == 'ADJC', ''\r\n    ,TYPE_OF_RIGHT == 'ADV', 'UT_ADV'\r\n    ,TYPE_OF_RIGHT == 'APPL', 'UT_APPL'\r\n    ,TYPE_OF_RIGHT == 'DEC', 'UT_DEC'\r\n    ,TYPE_OF_RIGHT == 'DIL', 'UT_DIL'\r\n    ,TYPE_OF_RIGHT == 'FEDR', 'UT_FEDR'\r\n    ,TYPE_OF_RIGHT == 'FIXD', 'UT_FIXD'\r\n    ,TYPE_OF_RIGHT == 'PAC', 'UT_PAC'\r\n    ,TYPE_OF_RIGHT == 'SHAR', 'UT_SHAR'\r\n    ,TYPE_OF_RIGHT == 'TEMP', 'UT_TEMP'\r\n    ,TYPE_OF_RIGHT == 'UGWC', 'UT_UGWC'),\n\t\tAllocationApplicationDate = toString(toDate(DATE_FILED, 'yyyyMMdd')),\n\t\tAllocationPriorityDate = toString(toDate(DATE_PRIORITY, 'yyyyMMdd')),\n\t\tAllocationExpirationDate = toString(toDate(DATE_TERMINATED, 'yyyyMMdd')),\n\t\tAllocationChangeApplicationIndicator = '',\n\t\tLegacyAllocationIDs = '',\n\t\tAllocationCropDutyAmount = IRRIGATION_DEPLETION,\n\t\tAllocationAmount = WREX_CFS,\n\t\tAllocationMaximum = WREX_ACFT,\n\t\tPopulationServed = '',\n\t\tPowerGeneratedGWh = '',\n\t\tAllocationCommunityWaterSupplySystem = '',\n\t\tAllocationSDWISIdentifier = '',\n\t\tIrrigatedAcreage = '',\n\t\tAllocationAssociatedWithdrawalSiteIDs = '',\n\t\tAllocationAssociatedConsumptiveUseSiteIDs = '',\n\t\tWaterAllocationNativeURL = '',\n\t\tMethodUUID = 'UT_WaterAllocation') ~> DerivedMaster"
						},
						{
							"name": "SelectMaster",
							"script": "DerivedMaster select(mapColumn(\n\t\tOrganizationUUID,\n\t\tVariableSpecificUUID,\n\t\tSiteUUID,\n\t\tMethodUUID,\n\t\tWaterSourceUUID,\n\t\tDataPublicationDate,\n\t\tDataPublicationDOI,\n\t\tAllocationBasisCV,\n\t\tAllocationNativeID,\n\t\tAllocationLegalStatusCV,\n\t\tAllocationTypeCV,\n\t\tAllocationApplicationDate,\n\t\tAllocationPriorityDate,\n\t\tAllocationExpirationDate,\n\t\tAllocationChangeApplicationIndicator,\n\t\tLegacyAllocationIDs,\n\t\tAllocationCropDutyAmount,\n\t\tAllocationAmount,\n\t\tAllocationMaximum,\n\t\tPopulationServed,\n\t\tPowerGeneratedGWh,\n\t\tAllocationCommunityWaterSupplySystem,\n\t\tAllocationSDWISIdentifier,\n\t\tIrrigatedAcreage,\n\t\tAllocationAssociatedWithdrawalSiteIDs,\n\t\tAllocationAssociatedConsumptiveUseSiteIDs,\n\t\tWaterAllocationNativeURL\n\t))~> SelectMaster"
						},
						{
							"name": "SelectOwners",
							"script": "DerivedOwners select(mapColumn(\n\t\tOrganizationUUID,\n\t\tVariableSpecificUUID,\n\t\tSiteUUID,\n\t\tMethodUUID,\n\t\tWaterSourceUUID,\n\t\tDataPublicationDate,\n\t\tDataPublicationDOI,\n\t\tAllocationBasisCV,\n\t\tAllocationNativeID,\n\t\tAllocationLegalStatusCV,\n\t\tAllocationTypeCV,\n\t\tAllocationApplicationDate,\n\t\tAllocationPriorityDate,\n\t\tAllocationExpirationDate,\n\t\tAllocationChangeApplicationIndicator,\n\t\tLegacyAllocationIDs,\n\t\tAllocationCropDutyAmount,\n\t\tAllocationAmount,\n\t\tAllocationMaximum,\n\t\tPopulationServed,\n\t\tPowerGeneratedGWh,\n\t\tAllocationCommunityWaterSupplySystem,\n\t\tAllocationSDWISIdentifier,\n\t\tIrrigatedAcreage,\n\t\tAllocationAssociatedWithdrawalSiteIDs,\n\t\tAllocationAssociatedConsumptiveUseSiteIDs,\n\t\tWaterAllocationNativeURL,\n\t\tAllocationOwner\n\t))~> SelectOwners"
						},
						{
							"name": "SelectIrrigation",
							"script": "DerivedIrrigation select(mapColumn(\n\t\tOrganizationUUID,\n\t\tVariableSpecificUUID,\n\t\tSiteUUID,\n\t\tMethodUUID,\n\t\tWaterSourceUUID,\n\t\tDataPublicationDate,\n\t\tDataPublicationDOI,\n\t\tAllocationBasisCV,\n\t\tAllocationNativeID,\n\t\tAllocationLegalStatusCV,\n\t\tAllocationTypeCV,\n\t\tAllocationApplicationDate,\n\t\tAllocationPriorityDate,\n\t\tAllocationExpirationDate,\n\t\tAllocationChangeApplicationIndicator,\n\t\tLegacyAllocationIDs,\n\t\tAllocationCropDutyAmount,\n\t\tAllocationAmount,\n\t\tAllocationMaximum,\n\t\tPopulationServed,\n\t\tPowerGeneratedGWh,\n\t\tAllocationCommunityWaterSupplySystem,\n\t\tAllocationSDWISIdentifier,\n\t\tIrrigatedAcreage,\n\t\tAllocationAssociatedWithdrawalSiteIDs,\n\t\tAllocationAssociatedConsumptiveUseSiteIDs,\n\t\tWaterAllocationNativeURL,\n\t\tAllocationTimeframeStart,\n\t\tAllocationTimeframeEnd\n\t))~> SelectIrrigation"
						},
						{
							"name": "SelectWaterUses",
							"script": "DerivedWaterUses select(mapColumn(\n\t\tOrganizationUUID,\n\t\tVariableSpecificUUID,\n\t\tSiteUUID,\n\t\tWaterSourceUUID,\n\t\tDataPublicationDate,\n\t\tDataPublicationDOI,\n\t\tAllocationBasisCV,\n\t\tAllocationNativeID,\n\t\tAllocationLegalStatusCV,\n\t\tAllocationTypeCV,\n\t\tAllocationApplicationDate,\n\t\tAllocationPriorityDate,\n\t\tAllocationExpirationDate,\n\t\tAllocationChangeApplicationIndicator,\n\t\tLegacyAllocationIDs,\n\t\tAllocationCropDutyAmount,\n\t\tAllocationAmount,\n\t\tAllocationMaximum,\n\t\tPopulationServed,\n\t\tPowerGeneratedGWh,\n\t\tAllocationCommunityWaterSupplySystem,\n\t\tAllocationSDWISIdentifier,\n\t\tIrrigatedAcreage,\n\t\tAllocationAssociatedWithdrawalSiteIDs,\n\t\tAllocationAssociatedConsumptiveUseSiteIDs,\n\t\tWaterAllocationNativeURL,\n\t\tBeneficialUseCategory,\n\t\tPrimaryUseCategory,\n\t\tMethodUUID\n\t))~> SelectWaterUses"
						},
						{
							"name": "UnionWaterAllocations",
							"script": "SelectWaterUses, SelectMaster, SelectOwners, SelectIrrigation union(byName: true)~> UnionWaterAllocations"
						}
					]
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/UT_WaterSources_Normalization')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Utah"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "UT_Master_Water_Rights_Exchange",
								"type": "DatasetReference"
							},
							"name": "UTMaster",
							"script": "source(output(\n\t\tWRNUM as string,\n\t\tAPPL_CLAIM_NUMBER as string,\n\t\tCERTIFICATE_NUMBER as string,\n\t\tLAND_OWNERSHIP as string,\n\t\tWREX_CFS as string,\n\t\tWREX_ANDOR as string,\n\t\tWREX_ACFT as string,\n\t\tWREX_SOURCE as string,\n\t\tWREX_COUNTY as string,\n\t\tCOMMON_DESCRIPTION as string,\n\t\tDATE_FILED as string,\n\t\tTAKEN_BY_INITIALS as string,\n\t\tDATE_PRIORITY as string,\n\t\tADV_NEWSPAPER as string,\n\t\tDATE_PUB_BEGAN as string,\n\t\tDATE_PROOF_PUB as string,\n\t\tPROTESTED as string,\n\t\tDATE_PROTEST_END as string,\n\t\tMEMO_DECISION as string,\n\t\tDATE_APPROVED_REJECTED as string,\n\t\tAPPROVED_REJECTED as string,\n\t\tDATE_PROOF_DUE as string,\n\t\tDATE_EXTENSION_FILED as string,\n\t\tELECTION_PROOF as string,\n\t\tDATE_ELECTION_PROOF as string,\n\t\tDATE_CERT_WUC_ISSUED as string,\n\t\tDATE_TERMINATED as string,\n\t\tPDBOOK_NUMBER as string,\n\t\tTYPE_OF_RIGHT as string,\n\t\tWREX_STATUS as string,\n\t\tDOCUMENT_ENTERED as string,\n\t\tMAP_NUMBER as string,\n\t\tDATE_RUSH_LETTER as string,\n\t\tDATE_RENOVATED as string,\n\t\tDATE_VERIFIED as string,\n\t\tVERIFIED_BY_INITIALS as string,\n\t\tENDORSEMENT_COMMENT1 as string,\n\t\tENDORSEMENT_COMMENT2 as string,\n\t\tENDORSEMENT_COMMENT3 as string,\n\t\tDATE_PUB_ENDED as string,\n\t\tMODIFIED_LOGON as string,\n\t\tDATE_RECON_REQUESTED as string,\n\t\tRECONSIDER_TYPE as string,\n\t\tIRRIGATION_DIVERSION as string,\n\t\tIRRIGATION_DEPLETION as string,\n\t\tSTOCK_DIVERSION as string,\n\t\tSTOCK_DEPLETION as string,\n\t\tDOMESTIC_DIVERSION as string,\n\t\tDOMESTIC_DEPLETION as string,\n\t\tMUNICIPAL_DIVERSION as string,\n\t\tMUNICIPAL_DEPLETION as string,\n\t\tMINING_DIVERSION as string,\n\t\tMINING_DEPLETION as string,\n\t\tPOWER_DIVERSION as string,\n\t\tPOWER_DEPLETION as string,\n\t\tOTHER_DIVERSION as string,\n\t\tOTHER_DEPLETION as string,\n\t\tEXNUM as string,\n\t\tEXCHANGE_BASE_WRNUM as string,\n\t\tEXCHANGE_CONTRACT_NUMBER as string,\n\t\tEXCHANGE_EVIDENCED1 as string,\n\t\tEXCHANGE_EVIDENCED2 as string,\n\t\tEXCHANGE_EVIDENCED3 as string,\n\t\tEXCHANGE_CFS as string,\n\t\tEXCHANGE_ANDOR as string,\n\t\tEXCHANGE_ACFT as string,\n\t\tEXCHANGE_BEG_DATE as string,\n\t\tEXCHANGE_END_DATE as string,\n\t\tEXCHANGE_SOURCE as string,\n\t\tEXCHANGE_COUNTY as string,\n\t\tEXCHANGE_PORELEASE_SAME as string,\n\t\tEXCHANGE_RELEASE_CFS as string,\n\t\tEXCHANGE_RELEASE_ANDOR as string,\n\t\tEXCHANGE_RELEASE_ACFT as string,\n\t\tEXCHANGE_RELEASE_BEG_DATE as string,\n\t\tEXCHANGE_RELEASE_END_DATE as string,\n\t\tWATER_USES as string,\n\t\tDATE_WUCS_RECEIVED as string,\n\t\tMANUAL_EVALUATION as string,\n\t\tACRE_FEET_EXPORTED as string,\n\t\tDATE_HEARING_HELD as string,\n\t\tDIVERSION_DUTY as string,\n\t\tDEPLETION_DUTY as string,\n\t\tGROWING_SEASON as string,\n\t\tDATE_FIELD_REVIEW as string,\n\t\tAREA_CODE as string,\n\t\tACTIVE_LITIGATION as string,\n\t\tDSYSDB_NUMBER as string,\n\t\tREPORT_TYPE as string,\n\t\tPROOF_DUE_YEARS as string,\n\t\tPUBLIC_VIEW as string,\n\t\tWATER_USE_REPORTING as string,\n\t\tSTREAM_ALT_REQUIRED as string,\n\t\tDAM_PERMIT_REQUIRED as string,\n\t\tWR_SOLE_SUPPLY as string,\n\t\tDATE_LAPSING_LETTER as string,\n\t\tSTOCK_COMPANY_ID as string,\n\t\tSHARES_OF_STOCK as string,\n\t\tOSE_SIGNATURE as string,\n\t\tCERT_SIGNATURE as string,\n\t\tPROOF_PROF_LICENSE_NUMBER as string,\n\t\tCOUNTY_TAX_ID as string,\n\t\tLAST_MODIFIED_TYPE as string,\n\t\tLAST_MODIFIED_TABLE as string,\n\t\tFILE_DESTROYED as string,\n\t\tDATE_50YEAR_PERIOD as string,\n\t\tSUB_BASIN_NUMBER as string,\n\t\tSUB_BASIN_NAME as string,\n\t\tDIVDEP_DOCUMENT_ID as string,\n\t\tFULL_SUPPLY_EQUIVALENCE as string,\n\t\tRECORD_ID as string,\n\t\tSHARES_DISTRIBUTION as string,\n\t\tDECREE_CLASS as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTMaster"
						},
						{
							"dataset": {
								"referenceName": "UT_WaterSources",
								"type": "DatasetReference"
							},
							"name": "UTWaterSources",
							"script": "source(output(\n\t\tWaterSourceUUID as string,\n\t\tWaterSourceNativeID as string,\n\t\tWaterSourceName as string,\n\t\tWaterSourceTypeCV as string,\n\t\tWaterQualityIndicatorCV as string,\n\t\tGNISFeatureNameCV as string,\n\t\tGeometry as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTWaterSources"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "UT_NormalizedWaterSources",
								"type": "DatasetReference"
							},
							"name": "NormalizedWaterSources",
							"script": "UnionWaterSources sink(input(\n\t\tWaterSourceUUID as string,\n\t\tWaterSourceNativeID as string,\n\t\tWaterSourceName as string,\n\t\tWaterSourceTypeCV as string,\n\t\tWaterQualityIndicatorCV as string,\n\t\tGNISFeatureNameCV as string,\n\t\tGeometry as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionBy('hash', 1),\n\tpartitionFileNames:['watersources.csv']) ~> NormalizedWaterSources"
						}
					],
					"transformations": [
						{
							"name": "DerivedMaster",
							"script": "UTMaster derive(WaterSourceUUID = 'UT_' + WRNUM,\n\t\tWaterSourceNativeID = WRNUM,\n\t\tWaterSourceName = WREX_SOURCE,\n\t\tWaterSourceTypeCV = 'unknown',\n\t\tWaterQualityIndicatorCV = 'Fresh',\n\t\tGNISFeatureNameCV = '',\n\t\tGeometry = '') ~> DerivedMaster"
						},
						{
							"name": "SelectWaterSources",
							"script": "DerivedMaster select(mapColumn(\n\t\tWaterSourceUUID,\n\t\tWaterSourceNativeID,\n\t\tWaterSourceName,\n\t\tWaterSourceTypeCV,\n\t\tWaterQualityIndicatorCV,\n\t\tGNISFeatureNameCV,\n\t\tGeometry\n\t))~> SelectWaterSources"
						},
						{
							"name": "UnionWaterSources",
							"script": "SelectWaterSources, UTWaterSources union(byName: true)~> UnionWaterSources"
						}
					]
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/ApplicableResourceTypeCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CvBlobs"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ApplicableResourceType.csv",
						"folderPath": "cvimport",
						"container": "cvimport"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CoordinateMethodCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CvBlobs"
				},
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CoordinateMethod.csv",
						"folderPath": "cvimport",
						"container": "cvimport"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				]
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/CvDataFlow_Debug')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "CvData"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CropTypeCsv",
								"type": "DatasetReference"
							},
							"name": "CropTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CropTypeCSV"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Db_CropType",
								"type": "DatasetReference"
							},
							"name": "CropTypeCvDb",
							"script": "CropTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> CropTypeCvDb"
						}
					]
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadCVs_Debug')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_CropType",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_CropType",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CropTypeCsv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CvDataFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy_CropType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataflow": {
								"referenceName": "CvDataFlow",
								"type": "DataFlowReference"
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/CvDataFlow')]"
			]
		}
	]
}