WaDE-Data-Factory/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "WaDE-Data-Factory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Colorado Normalization')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Move files from one folder to another folder",
				"activities": [
					{
						"name": "Excel To Json",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "DownloadColoradoWaterAllocationData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": {
								"value": "@concat('ExcelConversionToJson?container=colorado-import&fileName=colorado-raw.xlsx&folder=', pipeline().RunId)",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "WaDE Import Functions",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DownloadColoradoWaterAllocationData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ColoradoDownloadFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ColoradoRawFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Colorado Organization Normalization",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Excel To Json",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"OrganizationUID": "OrganizationUUID",
									"OrganizationName": "OrganizationName",
									"OrganizationPurview": "OrganizationPurview",
									"OrganizationWebsite": "OrganizationWebsite",
									"OrganizationPhoneNumber": "OrganizationPhoneNumber",
									"OrganizationContactName": "OrganizationContactName",
									"OrganizationContactEmail": "OrganizationContactEmail"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ColoradoOrganizationsFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "NormalizedOrganizationsFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Colorado Water Allocation Normalization",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Excel To Json",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"OrganizationUID": "OrganizationUUID",
									"AllocationUID": "AllocationUUID",
									"NativeAllocationID": "AllocationNativeID",
									"AllocationOwner": "AllocationOwner",
									"AllocationBasisCV": "AllocationBasisCV",
									"AllocationLegalStatusCodeCV": "AllocationLegalStatusCodeCV",
									"AllocationApplicationDate": "AllocationApplicationDate",
									"AllocationPriorityDate": "WaterAllocationPriorityDate",
									"AllocationExpirationDate": "AllocationExpirationDate",
									"AllocationChangeApplicationIndicator": "AllocationChangeApplicationIndicator",
									"SiteUID": "SiteUUID",
									"VariableSpecificUID": "VariableSpecificUUID",
									"BeneficialUseCategory": "BeneficialUseCategory",
									"AllocationPrimaryUseCategory": "PrimaryUseCategory",
									"SourceUID": "WaterSourceUUID",
									"MethodUID": "MethodUUID",
									"TimeframeStart": "TimeframeStartDate",
									"TimeframeEnd": "TimeframeEndDate",
									"DataPublicationDate": "DataPublicationDate",
									"ReportYearCV": "ReportYear",
									"AllocationAmount": "AllocationAmount",
									"AllocationMaximum": "AllocationMaximum",
									"PopulationServed": "PopulationServed",
									"PowerGeneratedGWh": "PowerGeneratedGWh",
									"IrrigatedAcreage": "IrrigatedAcreage",
									"AllocationCommunityWaterSupplySystem": "AllocationCommunityWaterSupplySystem",
									"SDWISID": "SDWISIdentifier",
									"AllocationCropDutyAmount": "AllocationCropDutyAmount",
									"Latitude": "Latitude",
									"Longitude": "Longitude"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ColoradoWaterAllocationFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "NormalizedWaterAllocationFile",
								"type": "DatasetReference",
								"parameters": {
									"FileLocation": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Load Water Allocation Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Colorado Organization Normalization",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Colorado Water Allocation Normalization",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Normalized Water Allocation Data",
								"type": "PipelineReference"
							},
							"parameters": {
								"FolderLocation": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_j78')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_j78",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "utahwaterrights/WATER_MASTER.csv"
							},
							{
								"name": "Destination",
								"value": "utahwaterrights/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_j78",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_j78",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_CO_Amonts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_5oi",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/api/views/a8zw-bjth/rows.csv?accessType=DOWNLOAD&api_foundry=true"
							},
							{
								"name": "Destination",
								"value": "colorado-import/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"WDID": "Prop_0",
									"Structure Name": "Prop_1",
									"Structure Type": "Prop_2",
									"Water Source": "Prop_3",
									"GNIS ID": "Prop_4",
									"Stream Mile": "Prop_5",
									"DIV": "Prop_6",
									"WD": "Prop_7",
									"County": "Prop_8"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_5oi",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_5oi",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Needs Work - Load Water Allocation Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Organizations",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"sqlWriterStoredProcedureName": "[[Core].[LoadOrganization]",
								"sqlWriterTableType": "Core.OrganizationTableType",
								"storedProcedureParameters": {
									"RunId": {
										"type": "String"
									}
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"OrganizationUUID": "OrganizationUUID",
									"OrganizationName": "OrganizationName",
									"OrganizationPurview": "OrganizationPurview",
									"OrganizationWebsite": "OrganizationWebsite",
									"OrganizationPhoneNumber": "OrganizationPhoneNumber",
									"OrganizationContactName": "OrganizationContactName",
									"OrganizationContactEmail": "OrganizationContactEmail"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NormalizedOrganizationsFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().parameters.FolderLocation",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "WaDEDatabaseOrganizations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load Water Allocations",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load Organizations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"sqlWriterStoredProcedureName": "[[Core].[LoadWaterAllocation]",
								"sqlWriterTableType": "Core.WaterAllocationTableType",
								"storedProcedureParameters": {
									"RunId": {
										"type": "String",
										"value": {
											"value": "@activity('Load Organizations').output",
											"type": "Expression"
										}
									}
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"OrganizationUUID": "OrganizationUUID",
									"AllocationUUID": "AllocationUUID",
									"AllocationNativeID": "AllocationNativeID",
									"AllocationOwner": "AllocationOwner",
									"AllocationBasisCV": "AllocationBasisCV",
									"AllocationLegalStatusCodeCV": "AllocationLegalStatusCodeCV",
									"AllocationApplicationDate": "AllocationApplicationDate",
									"WaterAllocationPriorityDate": "AllocationPriorityDate",
									"AllocationExpirationDate": "AllocationExpirationDate",
									"AllocationChangeApplicationIndicator": "AllocationChangeApplicationIndicator",
									"SiteUUID": "SiteUUID",
									"VariableSpecificUUID": "VariableSpecificUUID",
									"BeneficialUseCategory": "BeneficialUseCategory",
									"PrimaryUseCategory": "PrimaryUseCategory",
									"WaterSourceUUID": "WaterSourceUUID",
									"MethodUUID": "MethodUUID",
									"TimeframeStartDate": "TimeframeStartDate",
									"TimeframeEndDate": "TimeframeEndDate",
									"DataPublicationDate": "DataPublicationDate",
									"ReportYear": "ReportYear",
									"AllocationCropDutyAmount": "AllocationCropDutyAmount",
									"AllocationAmount": "AllocationAmount",
									"AllocationMaximum": "AllocationMaximum",
									"PopulationServed": "PopulationServed",
									"PowerGeneratedGWh": "PowerGeneratedGWh",
									"IrrigatedAcreage": "IrrigatedAcreage",
									"AllocationCommunityWaterSupplySystem": "AllocationCommunityWaterSupplySystem",
									"SDWISIdentifier": "SDWISIdentifier"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NormalizedWaterAllocationFile",
								"type": "DatasetReference",
								"parameters": {
									"FileLocation": {
										"value": "@activity('Load Organizations').output",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "WaDEDatabaseWaterAllocations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Load Water Allocations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-96.westus.logic.azure.com:443/workflows/c948a258cc4b48cd936c57cfd052cc07/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=oAwqpJmcBBp9Yt20MWYBqqwXo4-zLDjadBOaupCqBHg",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('{\"RunId\":\"', pipeline().parameters.FolderLocation, '\"}')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"FolderLocation": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NetAmount')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NEtAmount",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CO_netamount_call",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "test_netAmount",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CvDataFlow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "CvData"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CropTypeCsv",
								"type": "DatasetReference"
							},
							"name": "CropTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CropTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "AggegationStatisticCsv",
								"type": "DatasetReference"
							},
							"name": "AggregationStatisticCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> AggregationStatisticCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "ReportYearTypeCsv",
								"type": "DatasetReference"
							},
							"name": "ReportYearTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReportYearTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "EpsgCodeCsv",
								"type": "DatasetReference"
							},
							"name": "EpsgCodeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> EpsgCodeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "GnisFeatureNameCsv",
								"type": "DatasetReference"
							},
							"name": "GnisFeatureNameCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> GnisFeatureNameCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "IrrigationMethodCsv",
								"type": "DatasetReference"
							},
							"name": "IrrigationMethodCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> IrrigationMethodCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "LegalStatusCsv",
								"type": "DatasetReference"
							},
							"name": "LegalStatusCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> LegalStatusCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "MethodTypeCsv",
								"type": "DatasetReference"
							},
							"name": "MethodTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> MethodTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "NaicsCodeCsv",
								"type": "DatasetReference"
							},
							"name": "NaicsCodeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> NaicsCodeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "NhdNetworkStatusCsv",
								"type": "DatasetReference"
							},
							"name": "NhdNetworkStatusCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> NhdNetworkStatusCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "NhdProductCsv",
								"type": "DatasetReference"
							},
							"name": "NhdProductCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> NhdProductCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "RegulatoryStatusCsv",
								"type": "DatasetReference"
							},
							"name": "RegulatoryStatusCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> RegulatoryStatusCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "ReportingUnitTypeCsv",
								"type": "DatasetReference"
							},
							"name": "ReportingUnitTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReportingUnitTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "ReportYearCsv",
								"type": "DatasetReference"
							},
							"name": "ReportYearCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReportYearCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "SiteTypeCsv",
								"type": "DatasetReference"
							},
							"name": "SiteTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SiteTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "UnitsCsv",
								"type": "DatasetReference"
							},
							"name": "UnitsCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UnitsCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "UsgsCategoryCsv",
								"type": "DatasetReference"
							},
							"name": "UsgsCategoryCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UsgsCategoryCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "VariableCsv",
								"type": "DatasetReference"
							},
							"name": "VariableCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> VariableCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "VariableSpecificCsv",
								"type": "DatasetReference"
							},
							"name": "VariableSpecificCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> VariableSpecificCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "WaterAllocationBasisCsv",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationBasisCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterAllocationBasisCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "WaterAllocationTypeCsv",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterAllocationTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "WaterQualityIndicatorCsv",
								"type": "DatasetReference"
							},
							"name": "WaterQualityIndicatorCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterQualityIndicatorCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "WaterSourceTypeCsv",
								"type": "DatasetReference"
							},
							"name": "WaterSourceTypeCSV",
							"script": "source(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterSourceTypeCSV",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Db_CropType",
								"type": "DatasetReference"
							},
							"name": "CropTypeCvDb",
							"script": "CropTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> CropTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_AggregationStatistic",
								"type": "DatasetReference"
							},
							"name": "AggregationStatisticCvDb",
							"script": "AggregationStatisticCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> AggregationStatisticCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ReportYearType",
								"type": "DatasetReference"
							},
							"name": "ReportYearTypeCvDb",
							"script": "ReportYearTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ReportYearTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_EPSGCode",
								"type": "DatasetReference"
							},
							"name": "EpsgCodeCvDb",
							"script": "EpsgCodeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> EpsgCodeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_GNISFeatureName",
								"type": "DatasetReference"
							},
							"name": "GnisFeatureNameCvDb",
							"script": "GnisFeatureNameCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> GnisFeatureNameCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_IrrigationMethod",
								"type": "DatasetReference"
							},
							"name": "IrrigationMethodCvDb",
							"script": "IrrigationMethodCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> IrrigationMethodCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_LegalStatus",
								"type": "DatasetReference"
							},
							"name": "LegalStatusCvDb",
							"script": "LegalStatusCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> LegalStatusCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_MethodType",
								"type": "DatasetReference"
							},
							"name": "MethodTypeCvDb",
							"script": "MethodTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> MethodTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_NAICSCode",
								"type": "DatasetReference"
							},
							"name": "NaicsCodeCvDb",
							"script": "NaicsCodeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> NaicsCodeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_NHDNetworkStatus",
								"type": "DatasetReference"
							},
							"name": "NhdNetworkStatusCvDb",
							"script": "NhdNetworkStatusCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> NhdNetworkStatusCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_NHDProduct",
								"type": "DatasetReference"
							},
							"name": "NhdProductCvDb",
							"script": "NhdProductCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> NhdProductCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_RegulatoryStatus",
								"type": "DatasetReference"
							},
							"name": "RegulatoryStatusCvDb",
							"script": "RegulatoryStatusCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tState as string,\n\t\tDefinition as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tState = state,\n\t\tDefinition = definition,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> RegulatoryStatusCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ReportingUnitType",
								"type": "DatasetReference"
							},
							"name": "ReportingUnitTypeCvDb",
							"script": "ReportingUnitTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ReportingUnitTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ReportYearCV",
								"type": "DatasetReference"
							},
							"name": "ReportYearCvDb",
							"script": "DerivedColumn1 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ReportYearCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_SiteType",
								"type": "DatasetReference"
							},
							"name": "SiteTypeCvDb",
							"script": "SiteTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> SiteTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_Units",
								"type": "DatasetReference"
							},
							"name": "UnitsCvDb",
							"script": "UnitsCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> UnitsCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_USGSCategory",
								"type": "DatasetReference"
							},
							"name": "UsgsCategoryCvDb",
							"script": "UsgsCategoryCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> UsgsCategoryCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_Variable",
								"type": "DatasetReference"
							},
							"name": "VariableCvDb",
							"script": "VariableCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> VariableCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_VariableSpecific",
								"type": "DatasetReference"
							},
							"name": "VariableSpecificCvDb",
							"script": "VariableSpecificCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> VariableSpecificCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterAllocationBasis",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationBasisCvDb",
							"script": "WaterAllocationBasisCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tState as string,\n\t\tDefinition as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tState = state,\n\t\tDefinition = definition,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterAllocationBasisCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterAllocationType",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationTypeCvDb",
							"script": "WaterAllocationTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tState as string,\n\t\tDefinition as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tState = state,\n\t\tDefinition = definition,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterAllocationTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterQualityIndicator",
								"type": "DatasetReference"
							},
							"name": "WaterQualityIndicatorCvDb",
							"script": "WaterQualityIndicatorCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterQualityIndicatorCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterSourceType",
								"type": "DatasetReference"
							},
							"name": "WaterSourceTypeCvDb",
							"script": "WaterSourceTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['term'],\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterSourceTypeCvDb"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1",
							"script": "ReportYearCSV derive(name = substring(name, 1, 4)) ~> DerivedColumn1"
						}
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadCVs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_AggregationStatistic",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_AggregationStatistic",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AggegationStatisticCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_ReportYearType",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_ReportYearType",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ReportYearTypeCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_EPSGCode",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/api/v1/epsgcode/?format=csv"
							},
							{
								"name": "Destination",
								"value": "CVs.EPSGCode"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_epsgcode",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "EpsgCodeCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_GNISFeatureName",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/api/v1/gnisfeaturename/?format=csv"
							},
							{
								"name": "Destination",
								"value": "CVs.GNISFeatureName"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_GnisFeatureName",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "GnisFeatureNameCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_CropType",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_CropType",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CropTypeCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_IrrigationMethod",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_IrrigationMethod",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "IrrigationMethodCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_LegalStatus",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_LegalStatus",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "LegalStatusCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_MethodType",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_MethodType",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MethodTypeCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_NAICSCode",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_NaicsCode",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NaicsCodeCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_NHDNetworkStatus",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_NHDNetworkStatus",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NhdNetworkStatusCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_NHDProduct",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_NHDProduct",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NhdProductCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_RegulatoryStatus",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_RegulatoryStatus",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "RegulatoryStatusCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_ReportingUnitType",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_ReportingUnitType",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ReportingUnitTypeCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_ReportYear",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_ReportYear",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ReportYearCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_SiteType",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_SiteType",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SiteTypeCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Units",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_Units",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "UnitsCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_USGSCategory",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_UsgsCategory",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "UsgsCategoryCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Variable",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_Variable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VariableCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_VariableSpecific",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_VariableSpecific",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "VariableSpecificCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_WaterAllocationBasis",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_WaterAllocationBasis",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WaterAllocationBasisCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_WaterQualityIndicator",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_WaterQualityIndicator",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WaterQualityIndicatorCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_WaterAllocationType",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_WaterAllocationType",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WaterAllocationTypeCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_WaterSourceType",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSetting"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSetting",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "term"
										},
										"sink": {
											"name": "term",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "state"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "abbreviation"
										},
										"sink": {
											"name": "abbreviation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "definition"
										},
										"sink": {
											"name": "definition",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "category"
										},
										"sink": {
											"name": "category",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance"
										},
										"sink": {
											"name": "provenance",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "provenance_uri"
										},
										"sink": {
											"name": "provenance_uri",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "note"
										},
										"sink": {
											"name": "note",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CVs_WaterSourceType",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WaterSourceTypeCsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CvDataFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy_CropType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_AggregationStatistic",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_ReportYearType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_EPSGCode",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_GNISFeatureName",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_IrrigationMethod",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_LegalStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_MethodType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_NAICSCode",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_NHDNetworkStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_NHDProduct",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_RegulatoryStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_ReportingUnitType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_ReportYear",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_SiteType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Units",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_USGSCategory",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_VariableSpecific",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_WaterAllocationBasis",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_WaterQualityIndicator",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_WaterAllocationType",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_WaterSourceType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "CvDataFlow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CropTypeCSV": {},
									"AggregationStatisticCSV": {},
									"ReportYearTypeCSV": {},
									"EpsgCodeCSV": {},
									"GnisFeatureNameCSV": {},
									"IrrigationMethodCSV": {},
									"LegalStatusCSV": {},
									"MethodTypeCSV": {},
									"NaicsCodeCSV": {},
									"NhdNetworkStatusCSV": {},
									"NhdProductCSV": {},
									"RegulatoryStatusCSV": {},
									"ReportingUnitTypeCSV": {},
									"ReportYearCSV": {},
									"SiteTypeCSV": {},
									"UnitsCSV": {},
									"UsgsCategoryCSV": {},
									"VariableCSV": {},
									"VariableSpecificCSV": {},
									"WaterAllocationBasisCSV": {},
									"WaterAllocationTypeCSV": {},
									"WaterQualityIndicatorCSV": {},
									"WaterSourceTypeCSV": {},
									"CropTypeCvDb": {},
									"AggregationStatisticCvDb": {},
									"ReportYearTypeCvDb": {},
									"EpsgCodeCvDb": {},
									"GnisFeatureNameCvDb": {},
									"IrrigationMethodCvDb": {},
									"LegalStatusCvDb": {},
									"MethodTypeCvDb": {},
									"NaicsCodeCvDb": {},
									"NhdNetworkStatusCvDb": {},
									"NhdProductCvDb": {},
									"RegulatoryStatusCvDb": {},
									"ReportingUnitTypeCvDb": {},
									"ReportYearCvDb": {},
									"SiteTypeCvDb": {},
									"UnitsCvDb": {},
									"UsgsCategoryCvDb": {},
									"VariableCvDb": {},
									"VariableSpecificCvDb": {},
									"WaterAllocationBasisCvDb": {},
									"WaterAllocationTypeCvDb": {},
									"WaterQualityIndicatorCvDb": {},
									"WaterSourceTypeCvDb": {}
								}
							},
							"staging": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/CvDataFlow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ColoradoWaterAllocationFileArrived')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Colorado Normalization",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2019-03-27T03:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							],
							"weekDays": [
								"Monday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Colorado Normalization')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_CVs')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "LoadCVs",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2019-04-09T21:19:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								10
							],
							"weekDays": [
								"Monday",
								"Friday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/LoadCVs')]"
			]
		}
	]
}