WaDE-Data-Factory/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WaDE-Data-Factory"
		},
		"WaterMaster_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "WATER_MASTER.csv"
		},
		"WaterMaster_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "utahwaterrights"
		},
		"test_netAmount_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "Net_new.csv"
		},
		"test_netAmount_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "cvimport"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VariableCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CvBlobs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Variable.csv",
						"folderPath": "cvimport",
						"container": "cvimport"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VariableSpecificCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CvBlobs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "VariableSpecific.csv",
						"folderPath": "cvimport",
						"container": "cvimport"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaDEDatabaseOrganizations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WaDE Database",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DB_CVs_tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "OrganizationUUID",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "OrganizationName",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "OrganizationPurview",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "OrganizationWebsite",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "OrganizationPhoneNumber",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "OrganizationContactName",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "OrganizationContactEmail",
						"type": "String",
						"precision": 255,
						"scale": 255
					}
				],
				"typeProperties": {
					"tableName": "OrganizationTable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaDEDatabaseWaterAllocations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WaDE Database",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DB_CVs_tables"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "OrganizationUUID",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationUUID",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationNativeID",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationOwner",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationBasisCV",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationLegalStatusCodeCV",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationApplicationDate",
						"type": "DateTime",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationPriorityDate",
						"type": "DateTime",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationExpirationDate",
						"type": "DateTime",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationChangeApplicationIndicator",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "SiteUUID",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "VariableSpecificUUID",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "BeneficialUseCategory",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "PrimaryUseCategory",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "WaterSourceUUID",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "MethodUUID",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "TimeframeStartDate",
						"type": "DateTime",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "TimeframeEndDate",
						"type": "DateTime",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "DataPublicationDate",
						"type": "DateTime",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "ReportYear",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "AllocationCropDutyAmount",
						"type": "Double",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "AllocationAmount",
						"type": "Double",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "AllocationMaximum",
						"type": "Double",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "PopulationServed",
						"type": "Double",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "PowerGeneratedGWh",
						"type": "Double",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "IrrigatedAcreage",
						"type": "Double",
						"precision": 15,
						"scale": 255
					},
					{
						"name": "AllocationCommunityWaterSupplySystem",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "SDWISIdentifier",
						"type": "String",
						"precision": 255,
						"scale": 255
					}
				],
				"typeProperties": {
					"tableName": "WaterAllocationTable"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaterAllocationBasisCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CvBlobs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "WaterAllocationBasis.csv",
						"folderPath": "cvimport",
						"container": "cvimport"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaterAllocationTypeCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CvBlobs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "WaterAllocationType.csv",
						"folderPath": "cvimport",
						"container": "cvimport"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaterMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "WRNUM",
						"type": "String"
					},
					{
						"name": "APPL_CLAIM_NUMBER",
						"type": "String"
					},
					{
						"name": "CERTIFICATE_NUMBER",
						"type": "String"
					},
					{
						"name": "LAND_OWNERSHIP",
						"type": "String"
					},
					{
						"name": "WREX_CFS",
						"type": "String"
					},
					{
						"name": "WREX_ANDOR",
						"type": "String"
					},
					{
						"name": "WREX_ACFT",
						"type": "String"
					},
					{
						"name": "WREX_SOURCE",
						"type": "String"
					},
					{
						"name": "WREX_COUNTY",
						"type": "String"
					},
					{
						"name": "COMMON_DESCRIPTION",
						"type": "String"
					},
					{
						"name": "DATE_FILED",
						"type": "String"
					},
					{
						"name": "TAKEN_BY_INITIALS",
						"type": "String"
					},
					{
						"name": "DATE_PRIORITY",
						"type": "String"
					},
					{
						"name": "ADV_NEWSPAPER",
						"type": "String"
					},
					{
						"name": "DATE_PUB_BEGAN",
						"type": "String"
					},
					{
						"name": "DATE_PROOF_PUB",
						"type": "String"
					},
					{
						"name": "PROTESTED",
						"type": "String"
					},
					{
						"name": "DATE_PROTEST_END",
						"type": "String"
					},
					{
						"name": "MEMO_DECISION",
						"type": "String"
					},
					{
						"name": "DATE_APPROVED_REJECTED",
						"type": "String"
					},
					{
						"name": "APPROVED_REJECTED",
						"type": "String"
					},
					{
						"name": "DATE_PROOF_DUE",
						"type": "String"
					},
					{
						"name": "DATE_EXTENSION_FILED",
						"type": "String"
					},
					{
						"name": "ELECTION_PROOF",
						"type": "String"
					},
					{
						"name": "DATE_ELECTION_PROOF",
						"type": "String"
					},
					{
						"name": "DATE_CERT_WUC_ISSUED",
						"type": "String"
					},
					{
						"name": "DATE_TERMINATED",
						"type": "String"
					},
					{
						"name": "PDBOOK_NUMBER",
						"type": "String"
					},
					{
						"name": "TYPE_OF_RIGHT",
						"type": "String"
					},
					{
						"name": "WREX_STATUS",
						"type": "String"
					},
					{
						"name": "DOCUMENT_ENTERED",
						"type": "String"
					},
					{
						"name": "MAP_NUMBER",
						"type": "String"
					},
					{
						"name": "DATE_RUSH_LETTER",
						"type": "String"
					},
					{
						"name": "DATE_RENOVATED",
						"type": "String"
					},
					{
						"name": "DATE_VERIFIED",
						"type": "String"
					},
					{
						"name": "VERIFIED_BY_INITIALS",
						"type": "String"
					},
					{
						"name": "ENDORSEMENT_COMMENT1",
						"type": "String"
					},
					{
						"name": "ENDORSEMENT_COMMENT2",
						"type": "String"
					},
					{
						"name": "ENDORSEMENT_COMMENT3",
						"type": "String"
					},
					{
						"name": "DATE_PUB_ENDED",
						"type": "String"
					},
					{
						"name": "MODIFIED_LOGON",
						"type": "String"
					},
					{
						"name": "DATE_RECON_REQUESTED",
						"type": "String"
					},
					{
						"name": "RECONSIDER_TYPE",
						"type": "String"
					},
					{
						"name": "IRRIGATION_DIVERSION",
						"type": "String"
					},
					{
						"name": "IRRIGATION_DEPLETION",
						"type": "String"
					},
					{
						"name": "STOCK_DIVERSION",
						"type": "String"
					},
					{
						"name": "STOCK_DEPLETION",
						"type": "String"
					},
					{
						"name": "DOMESTIC_DIVERSION",
						"type": "String"
					},
					{
						"name": "DOMESTIC_DEPLETION",
						"type": "String"
					},
					{
						"name": "MUNICIPAL_DIVERSION",
						"type": "String"
					},
					{
						"name": "MUNICIPAL_DEPLETION",
						"type": "String"
					},
					{
						"name": "MINING_DIVERSION",
						"type": "String"
					},
					{
						"name": "MINING_DEPLETION",
						"type": "String"
					},
					{
						"name": "POWER_DIVERSION",
						"type": "String"
					},
					{
						"name": "POWER_DEPLETION",
						"type": "String"
					},
					{
						"name": "OTHER_DIVERSION",
						"type": "String"
					},
					{
						"name": "OTHER_DEPLETION",
						"type": "String"
					},
					{
						"name": "EXNUM",
						"type": "String"
					},
					{
						"name": "EXCHANGE_BASE_WRNUM",
						"type": "String"
					},
					{
						"name": "EXCHANGE_CONTRACT_NUMBER",
						"type": "String"
					},
					{
						"name": "EXCHANGE_EVIDENCED1",
						"type": "String"
					},
					{
						"name": "EXCHANGE_EVIDENCED2",
						"type": "String"
					},
					{
						"name": "EXCHANGE_EVIDENCED3",
						"type": "String"
					},
					{
						"name": "EXCHANGE_CFS",
						"type": "String"
					},
					{
						"name": "EXCHANGE_ANDOR",
						"type": "String"
					},
					{
						"name": "EXCHANGE_ACFT",
						"type": "String"
					},
					{
						"name": "EXCHANGE_BEG_DATE",
						"type": "String"
					},
					{
						"name": "EXCHANGE_END_DATE",
						"type": "String"
					},
					{
						"name": "EXCHANGE_SOURCE",
						"type": "String"
					},
					{
						"name": "EXCHANGE_COUNTY",
						"type": "String"
					},
					{
						"name": "EXCHANGE_PORELEASE_SAME",
						"type": "String"
					},
					{
						"name": "EXCHANGE_RELEASE_CFS",
						"type": "String"
					},
					{
						"name": "EXCHANGE_RELEASE_ANDOR",
						"type": "String"
					},
					{
						"name": "EXCHANGE_RELEASE_ACFT",
						"type": "String"
					},
					{
						"name": "EXCHANGE_RELEASE_BEG_DATE",
						"type": "String"
					},
					{
						"name": "EXCHANGE_RELEASE_END_DATE",
						"type": "String"
					},
					{
						"name": "WATER_USES",
						"type": "String"
					},
					{
						"name": "DATE_WUCS_RECEIVED",
						"type": "String"
					},
					{
						"name": "MANUAL_EVALUATION",
						"type": "String"
					},
					{
						"name": "ACRE_FEET_EXPORTED",
						"type": "String"
					},
					{
						"name": "DATE_HEARING_HELD",
						"type": "String"
					},
					{
						"name": "DIVERSION_DUTY",
						"type": "String"
					},
					{
						"name": "DEPLETION_DUTY",
						"type": "String"
					},
					{
						"name": "GROWING_SEASON",
						"type": "String"
					},
					{
						"name": "DATE_FIELD_REVIEW",
						"type": "String"
					},
					{
						"name": "AREA_CODE",
						"type": "String"
					},
					{
						"name": "ACTIVE_LITIGATION",
						"type": "String"
					},
					{
						"name": "DSYSDB_NUMBER",
						"type": "String"
					},
					{
						"name": "REPORT_TYPE",
						"type": "String"
					},
					{
						"name": "PROOF_DUE_YEARS",
						"type": "String"
					},
					{
						"name": "PUBLIC_VIEW",
						"type": "String"
					},
					{
						"name": "WATER_USE_REPORTING",
						"type": "String"
					},
					{
						"name": "STREAM_ALT_REQUIRED",
						"type": "String"
					},
					{
						"name": "DAM_PERMIT_REQUIRED",
						"type": "String"
					},
					{
						"name": "WR_SOLE_SUPPLY",
						"type": "String"
					},
					{
						"name": "DATE_LAPSING_LETTER",
						"type": "String"
					},
					{
						"name": "STOCK_COMPANY_ID",
						"type": "String"
					},
					{
						"name": "SHARES_OF_STOCK",
						"type": "String"
					},
					{
						"name": "OSE_SIGNATURE",
						"type": "String"
					},
					{
						"name": "CERT_SIGNATURE",
						"type": "String"
					},
					{
						"name": "PROOF_PROF_LICENSE_NUMBER",
						"type": "String"
					},
					{
						"name": "COUNTY_TAX_ID",
						"type": "String"
					},
					{
						"name": "LAST_MODIFIED_TYPE",
						"type": "String"
					},
					{
						"name": "LAST_MODIFIED_TABLE",
						"type": "String"
					},
					{
						"name": "FILE_DESTROYED",
						"type": "String"
					},
					{
						"name": "DATE_50YEAR_PERIOD",
						"type": "String"
					},
					{
						"name": "SUB_BASIN_NUMBER",
						"type": "String"
					},
					{
						"name": "SUB_BASIN_NAME",
						"type": "String"
					},
					{
						"name": "DIVDEP_DOCUMENT_ID",
						"type": "String"
					},
					{
						"name": "FULL_SUPPLY_EQUIVALENCE",
						"type": "String"
					},
					{
						"name": "RECORD_ID",
						"type": "String"
					},
					{
						"name": "SHARES_DISTRIBUTION",
						"type": "String"
					},
					{
						"name": "DECREE_CLASS",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('WaterMaster_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('WaterMaster_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaterQualityIndicatorCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CvBlobs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "WaterQualityIndicator.csv",
						"folderPath": "cvimport",
						"container": "cvimport"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaterSourceTypeCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CvBlobs"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "WaterSourceType.csv",
						"folderPath": "cvimport",
						"container": "cvimport"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "abbreviation",
						"type": "String"
					},
					{
						"name": "definition",
						"type": "String"
					},
					{
						"name": "category",
						"type": "String"
					},
					{
						"name": "provenance",
						"type": "String"
					},
					{
						"name": "provenance_uri",
						"type": "String"
					},
					{
						"name": "note",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_netAmount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 1,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('test_netAmount_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('test_netAmount_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Colorado Normalization')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Move files from one folder to another folder",
				"activities": [
					{
						"name": "Excel To Json",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "DownloadColoradoWaterAllocationData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": {
								"value": "@concat('ExcelConversionToJson?container=colorado-import&fileName=colorado-raw.xlsx&folder=', pipeline().RunId)",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "WaDE Import Functions",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DownloadColoradoWaterAllocationData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ColoradoDownloadFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ColoradoRawFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Colorado Organization Normalization",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Excel To Json",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"OrganizationUID": "OrganizationUUID",
									"OrganizationName": "OrganizationName",
									"OrganizationPurview": "OrganizationPurview",
									"OrganizationWebsite": "OrganizationWebsite",
									"OrganizationPhoneNumber": "OrganizationPhoneNumber",
									"OrganizationContactName": "OrganizationContactName",
									"OrganizationContactEmail": "OrganizationContactEmail"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ColoradoOrganizationsFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "NormalizedOrganizationsFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Colorado Water Allocation Normalization",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Excel To Json",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"OrganizationUID": "OrganizationUUID",
									"AllocationUID": "AllocationUUID",
									"NativeAllocationID": "AllocationNativeID",
									"AllocationOwner": "AllocationOwner",
									"AllocationBasisCV": "AllocationBasisCV",
									"AllocationLegalStatusCodeCV": "AllocationLegalStatusCodeCV",
									"AllocationApplicationDate": "AllocationApplicationDate",
									"AllocationPriorityDate": "WaterAllocationPriorityDate",
									"AllocationExpirationDate": "AllocationExpirationDate",
									"AllocationChangeApplicationIndicator": "AllocationChangeApplicationIndicator",
									"SiteUID": "SiteUUID",
									"VariableSpecificUID": "VariableSpecificUUID",
									"BeneficialUseCategory": "BeneficialUseCategory",
									"AllocationPrimaryUseCategory": "PrimaryUseCategory",
									"SourceUID": "WaterSourceUUID",
									"MethodUID": "MethodUUID",
									"TimeframeStart": "TimeframeStartDate",
									"TimeframeEnd": "TimeframeEndDate",
									"DataPublicationDate": "DataPublicationDate",
									"ReportYearCV": "ReportYear",
									"AllocationAmount": "AllocationAmount",
									"AllocationMaximum": "AllocationMaximum",
									"PopulationServed": "PopulationServed",
									"PowerGeneratedGWh": "PowerGeneratedGWh",
									"IrrigatedAcreage": "IrrigatedAcreage",
									"AllocationCommunityWaterSupplySystem": "AllocationCommunityWaterSupplySystem",
									"SDWISID": "SDWISIdentifier",
									"AllocationCropDutyAmount": "AllocationCropDutyAmount",
									"Latitude": "Latitude",
									"Longitude": "Longitude"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ColoradoWaterAllocationFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "NormalizedWaterAllocationFile",
								"type": "DatasetReference",
								"parameters": {
									"FileLocation": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Load Water Allocation Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Colorado Organization Normalization",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Colorado Water Allocation Normalization",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Normalized Data",
								"type": "PipelineReference"
							},
							"parameters": {
								"FolderLocation": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					}
				],
				"folder": {
					"name": "State Normalization"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_j78')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_j78",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "utahwaterrights/WATER_MASTER.csv"
							},
							{
								"name": "Destination",
								"value": "utahwaterrights/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_j78",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_j78",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_CO_Amonts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_5oi",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "/api/views/a8zw-bjth/rows.csv?accessType=DOWNLOAD&api_foundry=true"
							},
							{
								"name": "Destination",
								"value": "colorado-import/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"WDID": "Prop_0",
									"Structure Name": "Prop_1",
									"Structure Type": "Prop_2",
									"Water Source": "Prop_3",
									"GNIS ID": "Prop_4",
									"Stream Mile": "Prop_5",
									"DIV": "Prop_6",
									"WD": "Prop_7",
									"County": "Prop_8"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_5oi",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_5oi",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Needs Work - Load Water Allocation Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Organizations",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"sqlWriterStoredProcedureName": "[[Core].[LoadOrganization]",
								"sqlWriterTableType": "Core.OrganizationTableType",
								"storedProcedureParameters": {
									"RunId": {
										"type": "String"
									}
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"OrganizationUUID": "OrganizationUUID",
									"OrganizationName": "OrganizationName",
									"OrganizationPurview": "OrganizationPurview",
									"OrganizationWebsite": "OrganizationWebsite",
									"OrganizationPhoneNumber": "OrganizationPhoneNumber",
									"OrganizationContactName": "OrganizationContactName",
									"OrganizationContactEmail": "OrganizationContactEmail"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NormalizedOrganizationsFile",
								"type": "DatasetReference",
								"parameters": {
									"FolderIdentifier": {
										"value": "@pipeline().parameters.FolderLocation",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "WaDEDatabaseOrganizations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load Water Allocations",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Load Organizations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"sqlWriterStoredProcedureName": "[[Core].[LoadWaterAllocation]",
								"sqlWriterTableType": "Core.WaterAllocationTableType",
								"storedProcedureParameters": {
									"RunId": {
										"type": "String",
										"value": {
											"value": "@activity('Load Organizations').output",
											"type": "Expression"
										}
									}
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"OrganizationUUID": "OrganizationUUID",
									"AllocationUUID": "AllocationUUID",
									"AllocationNativeID": "AllocationNativeID",
									"AllocationOwner": "AllocationOwner",
									"AllocationBasisCV": "AllocationBasisCV",
									"AllocationLegalStatusCodeCV": "AllocationLegalStatusCodeCV",
									"AllocationApplicationDate": "AllocationApplicationDate",
									"WaterAllocationPriorityDate": "AllocationPriorityDate",
									"AllocationExpirationDate": "AllocationExpirationDate",
									"AllocationChangeApplicationIndicator": "AllocationChangeApplicationIndicator",
									"SiteUUID": "SiteUUID",
									"VariableSpecificUUID": "VariableSpecificUUID",
									"BeneficialUseCategory": "BeneficialUseCategory",
									"PrimaryUseCategory": "PrimaryUseCategory",
									"WaterSourceUUID": "WaterSourceUUID",
									"MethodUUID": "MethodUUID",
									"TimeframeStartDate": "TimeframeStartDate",
									"TimeframeEndDate": "TimeframeEndDate",
									"DataPublicationDate": "DataPublicationDate",
									"ReportYear": "ReportYear",
									"AllocationCropDutyAmount": "AllocationCropDutyAmount",
									"AllocationAmount": "AllocationAmount",
									"AllocationMaximum": "AllocationMaximum",
									"PopulationServed": "PopulationServed",
									"PowerGeneratedGWh": "PowerGeneratedGWh",
									"IrrigatedAcreage": "IrrigatedAcreage",
									"AllocationCommunityWaterSupplySystem": "AllocationCommunityWaterSupplySystem",
									"SDWISIdentifier": "SDWISIdentifier"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NormalizedWaterAllocationFile",
								"type": "DatasetReference",
								"parameters": {
									"FileLocation": {
										"value": "@activity('Load Organizations').output",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "WaDEDatabaseWaterAllocations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Load Water Allocations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-96.westus.logic.azure.com:443/workflows/c948a258cc4b48cd936c57cfd052cc07/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=oAwqpJmcBBp9Yt20MWYBqqwXo4-zLDjadBOaupCqBHg",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('{\"RunId\":\"', pipeline().parameters.FolderLocation, '\"}')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"FolderLocation": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WaDEDatabaseOrganizations')]",
				"[concat(variables('factoryId'), '/datasets/WaDEDatabaseWaterAllocations')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NetAmount')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NEtAmount",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "CO_netamount_call",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "test_netAmount",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/test_netAmount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CvDataFlow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "CvData"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CropTypeCsv",
								"type": "DatasetReference"
							},
							"name": "CropTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "AggegationStatisticCsv",
								"type": "DatasetReference"
							},
							"name": "AggregationStatisticCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "ReportYearTypeCsv",
								"type": "DatasetReference"
							},
							"name": "ReportYearTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "EpsgCodeCsv",
								"type": "DatasetReference"
							},
							"name": "EpsgCodeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "GnisFeatureNameCsv",
								"type": "DatasetReference"
							},
							"name": "GnisFeatureNameCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "IrrigationMethodCsv",
								"type": "DatasetReference"
							},
							"name": "IrrigationMethodCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "LegalStatusCsv",
								"type": "DatasetReference"
							},
							"name": "LegalStatusCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "MethodTypeCsv",
								"type": "DatasetReference"
							},
							"name": "MethodTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "NaicsCodeCsv",
								"type": "DatasetReference"
							},
							"name": "NaicsCodeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "NhdNetworkStatusCsv",
								"type": "DatasetReference"
							},
							"name": "NhdNetworkStatusCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "NhdProductCsv",
								"type": "DatasetReference"
							},
							"name": "NhdProductCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "RegulatoryStatusCsv",
								"type": "DatasetReference"
							},
							"name": "RegulatoryStatusCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "ReportingUnitTypeCsv",
								"type": "DatasetReference"
							},
							"name": "ReportingUnitTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "ReportYearCsv",
								"type": "DatasetReference"
							},
							"name": "ReportYearCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "SiteTypeCsv",
								"type": "DatasetReference"
							},
							"name": "SiteTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "UnitsCsv",
								"type": "DatasetReference"
							},
							"name": "UnitsCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "UsgsCategoryCsv",
								"type": "DatasetReference"
							},
							"name": "UsgsCategoryCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "VariableCsv",
								"type": "DatasetReference"
							},
							"name": "VariableCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "VariableSpecificCsv",
								"type": "DatasetReference"
							},
							"name": "VariableSpecificCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "WaterAllocationBasisCsv",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationBasisCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "WaterAllocationTypeCsv",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "WaterQualityIndicatorCsv",
								"type": "DatasetReference"
							},
							"name": "WaterQualityIndicatorCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "WaterSourceTypeCsv",
								"type": "DatasetReference"
							},
							"name": "WaterSourceTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "ApplicableResourceTypeCsv",
								"type": "DatasetReference"
							},
							"name": "ApplicableResourceTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "CoordinateMethodCsv",
								"type": "DatasetReference"
							},
							"name": "CoordinateMethodCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "CustomerTypeCsv",
								"type": "DatasetReference"
							},
							"name": "CustomerTypeCSV",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "SDWISIdentifierCsv",
								"type": "DatasetReference"
							},
							"name": "SDWISIdentifierCSV",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Db_CropType",
								"type": "DatasetReference"
							},
							"name": "CropTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_AggregationStatistic",
								"type": "DatasetReference"
							},
							"name": "AggregationStatisticCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ReportYearType",
								"type": "DatasetReference"
							},
							"name": "ReportYearTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_EPSGCode",
								"type": "DatasetReference"
							},
							"name": "EpsgCodeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_GNISFeatureName",
								"type": "DatasetReference"
							},
							"name": "GnisFeatureNameCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_IrrigationMethod",
								"type": "DatasetReference"
							},
							"name": "IrrigationMethodCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_LegalStatus",
								"type": "DatasetReference"
							},
							"name": "LegalStatusCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_MethodType",
								"type": "DatasetReference"
							},
							"name": "MethodTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_NAICSCode",
								"type": "DatasetReference"
							},
							"name": "NaicsCodeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_NHDNetworkStatus",
								"type": "DatasetReference"
							},
							"name": "NhdNetworkStatusCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_NHDProduct",
								"type": "DatasetReference"
							},
							"name": "NhdProductCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_RegulatoryStatus",
								"type": "DatasetReference"
							},
							"name": "RegulatoryStatusCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ReportingUnitType",
								"type": "DatasetReference"
							},
							"name": "ReportingUnitTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ReportYearCV",
								"type": "DatasetReference"
							},
							"name": "ReportYearCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_SiteType",
								"type": "DatasetReference"
							},
							"name": "SiteTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_Units",
								"type": "DatasetReference"
							},
							"name": "UnitsCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_USGSCategory",
								"type": "DatasetReference"
							},
							"name": "UsgsCategoryCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_Variable",
								"type": "DatasetReference"
							},
							"name": "VariableCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_VariableSpecific",
								"type": "DatasetReference"
							},
							"name": "VariableSpecificCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterAllocationBasis",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationBasisCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterAllocationType",
								"type": "DatasetReference"
							},
							"name": "WaterAllocationTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterQualityIndicator",
								"type": "DatasetReference"
							},
							"name": "WaterQualityIndicatorCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_WaterSourceType",
								"type": "DatasetReference"
							},
							"name": "WaterSourceTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_ApplicableResourceType",
								"type": "DatasetReference"
							},
							"name": "ApplicableResourceTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_CoordinateMethod",
								"type": "DatasetReference"
							},
							"name": "CoordinateMethodCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_CustomerType",
								"type": "DatasetReference"
							},
							"name": "CustomerTypeCvDb"
						},
						{
							"dataset": {
								"referenceName": "Db_SDWISIdentifier",
								"type": "DatasetReference"
							},
							"name": "SDWISIdentifierCvDb"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "AlterRow2"
						},
						{
							"name": "AlterRow3"
						},
						{
							"name": "AlterRow4"
						},
						{
							"name": "AlterRow5"
						},
						{
							"name": "AlterRow6"
						},
						{
							"name": "AlterRow7"
						},
						{
							"name": "AlterRow8"
						},
						{
							"name": "AlterRow9"
						},
						{
							"name": "AlterRow10"
						},
						{
							"name": "AlterRow11"
						},
						{
							"name": "AlterRow12"
						},
						{
							"name": "AlterRow13"
						},
						{
							"name": "AlterRow14"
						},
						{
							"name": "AlterRow15"
						},
						{
							"name": "AlterRow16"
						},
						{
							"name": "AlterRow17"
						},
						{
							"name": "AlterRow18"
						},
						{
							"name": "AlterRow19"
						},
						{
							"name": "AlterRow20"
						},
						{
							"name": "AlterRow21"
						},
						{
							"name": "AlterRow22"
						},
						{
							"name": "AlterRow23"
						},
						{
							"name": "AlterRow24"
						},
						{
							"name": "AlterRow25"
						},
						{
							"name": "AlterRow26"
						},
						{
							"name": "AlterRow27"
						}
					],
					"script": "\n\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CropTypeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> AggregationStatisticCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReportYearTypeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> EpsgCodeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> GnisFeatureNameCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> IrrigationMethodCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> LegalStatusCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> MethodTypeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> NaicsCodeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> NhdNetworkStatusCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> NhdProductCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> RegulatoryStatusCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReportingUnitTypeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ReportYearCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SiteTypeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UnitsCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UsgsCategoryCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> VariableCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> VariableSpecificCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterAllocationBasisCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterAllocationTypeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterQualityIndicatorCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> WaterSourceTypeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ApplicableResourceTypeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CoordinateMethodCSV\nsource(output(\n\t\tname as string,\n\t\tterm as string,\n\t\tdefinition as string,\n\t\tstate as string,\n\t\t{category } as string,\n\t\tnote as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CustomerTypeCSV\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tabbreviation as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SDWISIdentifierCSV\nReportYearCSV derive(name = substring(name, 1, 4)) ~> DerivedColumn1\nCropTypeCSV alterRow() ~> AlterRow1\nAggregationStatisticCSV alterRow() ~> AlterRow2\nReportYearTypeCSV alterRow() ~> AlterRow3\nEpsgCodeCSV alterRow() ~> AlterRow4\nGnisFeatureNameCSV alterRow() ~> AlterRow5\nIrrigationMethodCSV alterRow() ~> AlterRow6\nLegalStatusCSV alterRow() ~> AlterRow7\nMethodTypeCSV alterRow() ~> AlterRow8\nNaicsCodeCSV alterRow() ~> AlterRow9\nNhdNetworkStatusCSV alterRow() ~> AlterRow10\nNhdProductCSV alterRow() ~> AlterRow11\nRegulatoryStatusCSV alterRow() ~> AlterRow12\nReportingUnitTypeCSV alterRow() ~> AlterRow13\nDerivedColumn1 alterRow() ~> AlterRow14\nSiteTypeCSV alterRow() ~> AlterRow15\nUnitsCSV alterRow() ~> AlterRow16\nUsgsCategoryCSV alterRow() ~> AlterRow17\nVariableCSV alterRow() ~> AlterRow18\nVariableSpecificCSV alterRow() ~> AlterRow19\nWaterAllocationBasisCSV alterRow() ~> AlterRow20\nWaterAllocationTypeCSV alterRow() ~> AlterRow21\nWaterQualityIndicatorCSV alterRow() ~> AlterRow22\nWaterSourceTypeCSV alterRow() ~> AlterRow23\nApplicableResourceTypeCSV alterRow() ~> AlterRow24\nCoordinateMethodCSV alterRow() ~> AlterRow25\nCustomerTypeCSV alterRow() ~> AlterRow26\nSDWISIdentifierCSV alterRow() ~> AlterRow27\nAlterRow1 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> CropTypeCvDb\nAlterRow2 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> AggregationStatisticCvDb\nAlterRow3 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ReportYearTypeCvDb\nAlterRow4 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> EpsgCodeCvDb\nAlterRow5 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> GnisFeatureNameCvDb\nAlterRow6 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> IrrigationMethodCvDb\nAlterRow7 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> LegalStatusCvDb\nAlterRow8 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> MethodTypeCvDb\nAlterRow9 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> NaicsCodeCvDb\nAlterRow10 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> NhdNetworkStatusCvDb\nAlterRow11 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> NhdProductCvDb\nAlterRow12 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tState as string,\n\t\tDefinition as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tState = state,\n\t\tDefinition = definition,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> RegulatoryStatusCvDb\nAlterRow13 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ReportingUnitTypeCvDb\nAlterRow14 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ReportYearCvDb\nAlterRow15 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> SiteTypeCvDb\nAlterRow16 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> UnitsCvDb\nAlterRow17 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> UsgsCategoryCvDb\nAlterRow18 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> VariableCvDb\nAlterRow19 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> VariableSpecificCvDb\nAlterRow20 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tState as string,\n\t\tDefinition as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tState = state,\n\t\tDefinition = definition,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterAllocationBasisCvDb\nAlterRow21 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tState as string,\n\t\tDefinition as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tState = state,\n\t\tDefinition = definition,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterAllocationTypeCvDb\nAlterRow22 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterQualityIndicatorCvDb\nAlterRow23 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> WaterSourceTypeCvDb\nAlterRow24 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> ApplicableResourceTypeCvDb\nAlterRow25 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> CoordinateMethodCvDb\nAlterRow26 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> CustomerTypeCvDb\nAlterRow27 sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['Name'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = name,\n\t\tTerm = term,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> SDWISIdentifierCvDb"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VariableCsv')]",
				"[concat(variables('factoryId'), '/datasets/VariableSpecificCsv')]",
				"[concat(variables('factoryId'), '/datasets/WaterAllocationBasisCsv')]",
				"[concat(variables('factoryId'), '/datasets/WaterAllocationTypeCsv')]",
				"[concat(variables('factoryId'), '/datasets/WaterQualityIndicatorCsv')]",
				"[concat(variables('factoryId'), '/datasets/WaterSourceTypeCsv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CvDataFlow_Debug')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "CvData"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CropTypeCsv",
								"type": "DatasetReference"
							},
							"name": "CropTypeCSV",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Db_CropType",
								"type": "DatasetReference"
							},
							"name": "CropTypeCvDb"
						}
					],
					"transformations": [],
					"script": "\n\nsource(output(\n\t\tterm as string,\n\t\tname as string,\n\t\tstate as string,\n\t\tdefinition as string,\n\t\tcategory as string,\n\t\tprovenance as string,\n\t\tprovenance_uri as string,\n\t\tnote as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> CropTypeCSV\nCropTypeCSV sink(input(\n\t\tName as string,\n\t\tTerm as string,\n\t\tDefinition as string,\n\t\tState as string,\n\t\tSourceVocabularyURI as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tkeys:['term'],\n\tformat: 'table',\n\tmapColumn(\n\t\tName = term,\n\t\tTerm = name,\n\t\tDefinition = definition,\n\t\tState = state,\n\t\tSourceVocabularyURI = provenance_uri\n\t)) ~> CropTypeCvDb"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Debug_UT_WaterAllocation_Normalization')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Utah"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "UT_Master_Water_Rights_Exchange",
								"type": "DatasetReference"
							},
							"name": "UTMaster",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "UT_Flat_Uses",
								"type": "DatasetReference"
							},
							"name": "UTWaterUses",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "UT_Owners",
								"type": "DatasetReference"
							},
							"name": "UTOwners",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "UT_Irrigation_Master",
								"type": "DatasetReference"
							},
							"name": "UTIrrigationMaster",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "UT_NormalizedWaterAllocations",
								"type": "DatasetReference"
							},
							"name": "NormalizedWaterAllocations"
						}
					],
					"transformations": [
						{
							"name": "DerivedWaterUses"
						},
						{
							"name": "JoinWaterUses"
						},
						{
							"name": "JoinOwners"
						},
						{
							"name": "JoinIrrigation"
						},
						{
							"name": "DerivedOwners"
						},
						{
							"name": "DerivedIrrigation"
						},
						{
							"name": "DerivedMaster"
						},
						{
							"name": "SelectMaster"
						},
						{
							"name": "SelectOwners"
						},
						{
							"name": "SelectIrrigation"
						},
						{
							"name": "SelectWaterUses"
						},
						{
							"name": "UnionWaterAllocations"
						}
					],
					"script": "\n\nsource(output(\n\t\tWRNUM as string,\n\t\tAPPL_CLAIM_NUMBER as string,\n\t\tCERTIFICATE_NUMBER as string,\n\t\tLAND_OWNERSHIP as string,\n\t\tWREX_CFS as string,\n\t\tWREX_ANDOR as string,\n\t\tWREX_ACFT as string,\n\t\tWREX_SOURCE as string,\n\t\tWREX_COUNTY as string,\n\t\tCOMMON_DESCRIPTION as string,\n\t\tDATE_FILED as string,\n\t\tTAKEN_BY_INITIALS as string,\n\t\tDATE_PRIORITY as string,\n\t\tADV_NEWSPAPER as string,\n\t\tDATE_PUB_BEGAN as string,\n\t\tDATE_PROOF_PUB as string,\n\t\tPROTESTED as string,\n\t\tDATE_PROTEST_END as string,\n\t\tMEMO_DECISION as string,\n\t\tDATE_APPROVED_REJECTED as string,\n\t\tAPPROVED_REJECTED as string,\n\t\tDATE_PROOF_DUE as string,\n\t\tDATE_EXTENSION_FILED as string,\n\t\tELECTION_PROOF as string,\n\t\tDATE_ELECTION_PROOF as string,\n\t\tDATE_CERT_WUC_ISSUED as string,\n\t\tDATE_TERMINATED as string,\n\t\tPDBOOK_NUMBER as string,\n\t\tTYPE_OF_RIGHT as string,\n\t\tWREX_STATUS as string,\n\t\tDOCUMENT_ENTERED as string,\n\t\tMAP_NUMBER as string,\n\t\tDATE_RUSH_LETTER as string,\n\t\tDATE_RENOVATED as string,\n\t\tDATE_VERIFIED as string,\n\t\tVERIFIED_BY_INITIALS as string,\n\t\tENDORSEMENT_COMMENT1 as string,\n\t\tENDORSEMENT_COMMENT2 as string,\n\t\tENDORSEMENT_COMMENT3 as string,\n\t\tDATE_PUB_ENDED as string,\n\t\tMODIFIED_LOGON as string,\n\t\tDATE_RECON_REQUESTED as string,\n\t\tRECONSIDER_TYPE as string,\n\t\tIRRIGATION_DIVERSION as string,\n\t\tIRRIGATION_DEPLETION as string,\n\t\tSTOCK_DIVERSION as string,\n\t\tSTOCK_DEPLETION as string,\n\t\tDOMESTIC_DIVERSION as string,\n\t\tDOMESTIC_DEPLETION as string,\n\t\tMUNICIPAL_DIVERSION as string,\n\t\tMUNICIPAL_DEPLETION as string,\n\t\tMINING_DIVERSION as string,\n\t\tMINING_DEPLETION as string,\n\t\tPOWER_DIVERSION as string,\n\t\tPOWER_DEPLETION as string,\n\t\tOTHER_DIVERSION as string,\n\t\tOTHER_DEPLETION as string,\n\t\tEXNUM as string,\n\t\tEXCHANGE_BASE_WRNUM as string,\n\t\tEXCHANGE_CONTRACT_NUMBER as string,\n\t\tEXCHANGE_EVIDENCED1 as string,\n\t\tEXCHANGE_EVIDENCED2 as string,\n\t\tEXCHANGE_EVIDENCED3 as string,\n\t\tEXCHANGE_CFS as string,\n\t\tEXCHANGE_ANDOR as string,\n\t\tEXCHANGE_ACFT as string,\n\t\tEXCHANGE_BEG_DATE as string,\n\t\tEXCHANGE_END_DATE as string,\n\t\tEXCHANGE_SOURCE as string,\n\t\tEXCHANGE_COUNTY as string,\n\t\tEXCHANGE_PORELEASE_SAME as string,\n\t\tEXCHANGE_RELEASE_CFS as string,\n\t\tEXCHANGE_RELEASE_ANDOR as string,\n\t\tEXCHANGE_RELEASE_ACFT as string,\n\t\tEXCHANGE_RELEASE_BEG_DATE as string,\n\t\tEXCHANGE_RELEASE_END_DATE as string,\n\t\tWATER_USES as string,\n\t\tDATE_WUCS_RECEIVED as string,\n\t\tMANUAL_EVALUATION as string,\n\t\tACRE_FEET_EXPORTED as string,\n\t\tDATE_HEARING_HELD as string,\n\t\tDIVERSION_DUTY as string,\n\t\tDEPLETION_DUTY as string,\n\t\tGROWING_SEASON as string,\n\t\tDATE_FIELD_REVIEW as string,\n\t\tAREA_CODE as string,\n\t\tACTIVE_LITIGATION as string,\n\t\tDSYSDB_NUMBER as string,\n\t\tREPORT_TYPE as string,\n\t\tPROOF_DUE_YEARS as string,\n\t\tPUBLIC_VIEW as string,\n\t\tWATER_USE_REPORTING as string,\n\t\tSTREAM_ALT_REQUIRED as string,\n\t\tDAM_PERMIT_REQUIRED as string,\n\t\tWR_SOLE_SUPPLY as string,\n\t\tDATE_LAPSING_LETTER as string,\n\t\tSTOCK_COMPANY_ID as string,\n\t\tSHARES_OF_STOCK as string,\n\t\tOSE_SIGNATURE as string,\n\t\tCERT_SIGNATURE as string,\n\t\tPROOF_PROF_LICENSE_NUMBER as string,\n\t\tCOUNTY_TAX_ID as string,\n\t\tLAST_MODIFIED_TYPE as string,\n\t\tLAST_MODIFIED_TABLE as string,\n\t\tFILE_DESTROYED as string,\n\t\tDATE_50YEAR_PERIOD as string,\n\t\tSUB_BASIN_NUMBER as string,\n\t\tSUB_BASIN_NAME as string,\n\t\tDIVDEP_DOCUMENT_ID as string,\n\t\tFULL_SUPPLY_EQUIVALENCE as string,\n\t\tRECORD_ID as string,\n\t\tSHARES_DISTRIBUTION as string,\n\t\tDECREE_CLASS as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTMaster\nsource(output(\n\t\tId as string,\n\t\tValue as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTWaterUses\nsource(output(\n\t\tWRCHEX as string,\n\t\tOWNER_NAME as string,\n\t\tOWNER_ADDRESS as string,\n\t\tOWNER_CITY as string,\n\t\tOWNER_STATE as string,\n\t\tOWNER_ZIPCODE as string,\n\t\tOWNER_INTEREST as string,\n\t\tOWNER_PHONE as string,\n\t\tOWNER_REMARKS as string,\n\t\tOWNER_CARE_OF as string,\n\t\tOWNER_EMAIL_ADDRESS as string,\n\t\tOWNER_FIRST_NAME as string,\n\t\tOWNER_LAST_NAME as string,\n\t\tOWNER_TITLE as string,\n\t\tOWNER_ADDRESS1 as string,\n\t\tOWNER_ADDRESS2 as string,\n\t\tOWNER_ADDRESS3 as string,\n\t\tDATE_WUC_SIGNED as string,\n\t\tBAD_ADDRESS as string,\n\t\tPUBLIC_WATER_SUPPLIER as string,\n\t\tTITLE_CONFLICT as string,\n\t\tTITLE_CONFLICT_COMMENTS as string,\n\t\tOWNER_TYPE as string,\n\t\tATTORNEY_RECORD_ID as string,\n\t\trecordId as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTOwners\nsource(output(\n\t\tWRNUM as string,\n\t\tGROUP_IDNUM as string,\n\t\tUSE_IDNUM as string,\n\t\tIRRIGATION_ACREAGE as string,\n\t\tSOLE_SUPPLY as string,\n\t\tDIVERSION_LIMIT as string,\n\t\tUSE_BEG_DATE as string,\n\t\tUSE_END_DATE as string,\n\t\tIRRIGATION_COMMENTS as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTIrrigationMaster\nJoinWaterUses derive(BeneficialUseCategory = '',\n\t\tPrimaryUseCategory = replace(replace(replace(replace(replace(replace(Value, 'OTH', 'Other'), 'POW', 'Power'), 'MUN', 'Mining'), 'STK', 'Stockwatering') , 'IRR', 'Irrigation'), 'DOM', 'Domestic')) ~> DerivedWaterUses\nSelectMaster, UTWaterUses join(AllocationNativeID == Id,\n\tjoinType:'left',\n\tbroadcast: 'none')~> JoinWaterUses\nSelectMaster, UTOwners join(AllocationNativeID == WRCHEX,\n\tjoinType:'left',\n\tbroadcast: 'none')~> JoinOwners\nSelectMaster, UTIrrigationMaster join(AllocationNativeID == WRNUM,\n\tjoinType:'left',\n\tbroadcast: 'none')~> JoinIrrigation\nJoinOwners derive(AllocationOwner = OWNER_LAST_NAME + ', ' + OWNER_FIRST_NAME) ~> DerivedOwners\nJoinIrrigation derive(AllocationTimeframeStart = USE_BEG_DATE,\n\t\tAllocationTimeframeEnd = USE_END_DATE) ~> DerivedIrrigation\nUTMaster derive(OrganizationUUID = 'UTWRE',\n\t\tVariableSpecificUUID = 'Allocation All',\n\t\tSiteUUID = 'UT_' + WRNUM,\n\t\tWaterSourceUUID = 'UT_' + WRNUM,\n\t\tDataPublicationDate = toString(currentDate()),\n\t\tDataPublicationDOI = '',\n\t\tAllocationBasisCV = '',\n\t\tAllocationNativeID = WRNUM,\n\t\tAllocationLegalStatusCV = case(WREX_STATUS == 'ABAN', ''\r\n    ,WREX_STATUS == 'ADEC', 'UT_ADEC'\r\n    ,WREX_STATUS == 'AMEN', ''\r\n    ,WREX_STATUS == 'APP', 'UT_APP'\r\n    ,WREX_STATUS == 'CERT', 'UT_CERT'\r\n    ,WREX_STATUS == 'DIS', 'UT_DIS'\r\n    ,WREX_STATUS == 'EXP', 'UT_EXP'\r\n    ,WREX_STATUS == 'FORF', 'UT_FORF'\r\n    ,WREX_STATUS == 'INV', ''\r\n    ,WREX_STATUS == 'LAP', 'UT_LAP'\r\n    ,WREX_STATUS == 'LAPD', 'UT_LAPD'\r\n    ,WREX_STATUS == 'NPR', 'UT_NPR'\r\n    ,WREX_STATUS == 'NUSE', 'UT_NUSE'\r\n    ,WREX_STATUS == 'PERF', 'UT_PERF'\r\n    ,WREX_STATUS == 'REJ', 'UT_REJ'\r\n    ,WREX_STATUS == 'REJD', 'UT_REJD'\r\n    ,WREX_STATUS == 'RNUM', 'UT_RNUM'\r\n    ,WREX_STATUS == 'TERM', 'UT_TERM'\r\n    ,WREX_STATUS == 'UNAP', 'UT_UNAP'\r\n    ,WREX_STATUS == 'WD', 'UT_WD'\r\n    ,WREX_STATUS == 'WDD', 'UT_WDD'\r\n    ,WREX_STATUS == 'WUC', 'UT_WUC'),\n\t\tAllocationTypeCV = case(TYPE_OF_RIGHT == 'ADEC', 'UT_ADEC'\r\n    ,TYPE_OF_RIGHT == 'ADJC', ''\r\n    ,TYPE_OF_RIGHT == 'ADV', 'UT_ADV'\r\n    ,TYPE_OF_RIGHT == 'APPL', 'UT_APPL'\r\n    ,TYPE_OF_RIGHT == 'DEC', 'UT_DEC'\r\n    ,TYPE_OF_RIGHT == 'DIL', 'UT_DIL'\r\n    ,TYPE_OF_RIGHT == 'FEDR', 'UT_FEDR'\r\n    ,TYPE_OF_RIGHT == 'FIXD', 'UT_FIXD'\r\n    ,TYPE_OF_RIGHT == 'PAC', 'UT_PAC'\r\n    ,TYPE_OF_RIGHT == 'SHAR', 'UT_SHAR'\r\n    ,TYPE_OF_RIGHT == 'TEMP', 'UT_TEMP'\r\n    ,TYPE_OF_RIGHT == 'UGWC', 'UT_UGWC'),\n\t\tAllocationApplicationDate = toString(toDate(DATE_FILED, 'yyyyMMdd')),\n\t\tAllocationPriorityDate = toString(toDate(DATE_PRIORITY, 'yyyyMMdd')),\n\t\tAllocationExpirationDate = toString(toDate(DATE_TERMINATED, 'yyyyMMdd')),\n\t\tAllocationChangeApplicationIndicator = '',\n\t\tLegacyAllocationIDs = '',\n\t\tAllocationCropDutyAmount = IRRIGATION_DEPLETION,\n\t\tAllocationAmount = WREX_CFS,\n\t\tAllocationMaximum = WREX_ACFT,\n\t\tPopulationServed = '',\n\t\tPowerGeneratedGWh = '',\n\t\tAllocationCommunityWaterSupplySystem = '',\n\t\tAllocationSDWISIdentifier = '',\n\t\tIrrigatedAcreage = '',\n\t\tAllocationAssociatedWithdrawalSiteIDs = '',\n\t\tAllocationAssociatedConsumptiveUseSiteIDs = '',\n\t\tWaterAllocationNativeURL = '',\n\t\tMethodUUID = 'UT_WaterAllocation') ~> DerivedMaster\nDerivedMaster select(mapColumn(\n\t\tOrganizationUUID,\n\t\tVariableSpecificUUID,\n\t\tSiteUUID,\n\t\tMethodUUID,\n\t\tWaterSourceUUID,\n\t\tDataPublicationDate,\n\t\tDataPublicationDOI,\n\t\tAllocationBasisCV,\n\t\tAllocationNativeID,\n\t\tAllocationLegalStatusCV,\n\t\tAllocationTypeCV,\n\t\tAllocationApplicationDate,\n\t\tAllocationPriorityDate,\n\t\tAllocationExpirationDate,\n\t\tAllocationChangeApplicationIndicator,\n\t\tLegacyAllocationIDs,\n\t\tAllocationCropDutyAmount,\n\t\tAllocationAmount,\n\t\tAllocationMaximum,\n\t\tPopulationServed,\n\t\tPowerGeneratedGWh,\n\t\tAllocationCommunityWaterSupplySystem,\n\t\tAllocationSDWISIdentifier,\n\t\tIrrigatedAcreage,\n\t\tAllocationAssociatedWithdrawalSiteIDs,\n\t\tAllocationAssociatedConsumptiveUseSiteIDs,\n\t\tWaterAllocationNativeURL\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> SelectMaster\nDerivedOwners select(mapColumn(\n\t\tAllocationNativeID,\n\t\tAllocationOwner\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> SelectOwners\nDerivedIrrigation select(mapColumn(\n\t\tAllocationNativeID,\n\t\tAllocationTimeframeStart,\n\t\tAllocationTimeframeEnd\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> SelectIrrigation\nDerivedWaterUses select(mapColumn(\n\t\tAllocationNativeID,\n\t\tBeneficialUseCategory,\n\t\tPrimaryUseCategory\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> SelectWaterUses\nSelectWaterUses, SelectMaster, SelectOwners, SelectIrrigation union(byName: true)~> UnionWaterAllocations\nUnionWaterAllocations sink(input(\n\t\tOrganizationUUID as string,\n\t\tVariableSpecificUUID as string,\n\t\tSiteUUID as string,\n\t\tWaterSourceUUID as string,\n\t\tMethodUUID as string,\n\t\tPrimaryUseCategory as string,\n\t\tBeneficialUseCategory as string,\n\t\tDataPublicationDate as string,\n\t\tDataPublicationDOI as string,\n\t\tAllocationNativeID as string,\n\t\tAllocationOwner as string,\n\t\tAllocationBasisCV as string,\n\t\tAllocationLegalStatusCV as string,\n\t\tAllocationTypeCV as string,\n\t\tAllocationApplicationDate as string,\n\t\tAllocationPriorityDate as string,\n\t\tAllocationExpirationDate as string,\n\t\tAllocationChangeApplicationIndicator as string,\n\t\tLegacyAllocationIDs as string,\n\t\tAllocationTimeframeStart as string,\n\t\tAllocationTimeframeEnd as string,\n\t\tAllocationCropDutyAmount as string,\n\t\tAllocationAmount as string,\n\t\tAllocationMaximum as string,\n\t\tPopulationServed as string,\n\t\tPowerGeneratedGWh as string,\n\t\tIrrigatedAcreage as string,\n\t\tAllocationCommunityWaterSupplySystem as string,\n\t\tAllocationSDWISIdentifier as string,\n\t\tAllocationAssociatedWithdrawalSiteIDs as string,\n\t\tAllocationAssociatedConsumptiveUseSiteIDs as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['waterallocations.csv'],\n\tpartitionBy('hash', 1)) ~> NormalizedWaterAllocations"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UT_AggregatedAmounts_Normalization')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Utah"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "UT_AggregatedAmounts",
								"type": "DatasetReference"
							},
							"name": "UTAggregatedAmounts",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "UT_NormalizedAggregatedAmounts",
								"type": "DatasetReference"
							},
							"name": "NormalizedAggregatedAmounts"
						}
					],
					"transformations": [],
					"script": "\n\nsource(output(\n\t\tOrganizationUUID as string,\n\t\tReportingUnitUUID as string,\n\t\tVariableSpecificUUID as string,\n\t\tBeneficialUseCategory as string,\n\t\tPrimaryUseCategory as string,\n\t\tWaterSourceUUID as string,\n\t\tMethodUUID as string,\n\t\tTimeframeStart as string,\n\t\tTimeframeEnd as string,\n\t\tDataPublicationDate as string,\n\t\tDataPublicationDOI as string,\n\t\tReportYearCV as string,\n\t\tAmount as string,\n\t\tPopulationServed as string,\n\t\tPowerGeneratedGWh as string,\n\t\tIrrigatedAcreage as string,\n\t\tInterbasinTransferToID as string,\n\t\tInterbasinTransferFromID as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTAggregatedAmounts\nUTAggregatedAmounts sink(input(\n\t\tOrganizationUUID as string,\n\t\tReportingUnitUUID as string,\n\t\tVariableSpecificUUID as string,\n\t\tBeneficialUseCategory as string,\n\t\tPrimaryUseCategory as string,\n\t\tWaterSourceUUID as string,\n\t\tMethodUUID as string,\n\t\tTimeframeStart as string,\n\t\tTimeframeEnd as string,\n\t\tDataPublicationDate as string,\n\t\tDataPublicationDOI as string,\n\t\tReportYearCV as string,\n\t\tAmount as string,\n\t\tPopulationServed as string,\n\t\tPowerGeneratedGWh as string,\n\t\tIrrigatedAcreage as string,\n\t\tInterbasinTransferToID as string,\n\t\tInterbasinTransferFromID as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['aggregatedamounts.csv'],\n\tpartitionBy('hash', 1)) ~> NormalizedAggregatedAmounts"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UT_Methods_Normalization')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Utah"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "UT_Methods",
								"type": "DatasetReference"
							},
							"name": "UTMethods",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "UT_NormalizedMethods",
								"type": "DatasetReference"
							},
							"name": "NormalizedMethods"
						}
					],
					"transformations": [],
					"script": "\n\nsource(output(\n\t\tMethodUUID as string,\n\t\tMethodName as string,\n\t\tMethodDescription as string,\n\t\tMethodNEMILink as string,\n\t\tApplicableResourceTypeCV as string,\n\t\tMethodTypeCV as string,\n\t\tDataCoverageValue as string,\n\t\tDataQualityValueCV as string,\n\t\tDataConfidenceValue as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> UTMethods\nUTMethods sink(input(\n\t\tMethodUUID as string,\n\t\tMethodName as string,\n\t\tMethodDescription as string,\n\t\tMethodNEMILink as string,\n\t\tApplicableResourceTypeCV as string,\n\t\tMethodTypeCV as string,\n\t\tDataCoverageValue as string,\n\t\tDataQualityValueCV as string,\n\t\tDataConfidenceValue as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['methods.csv'],\n\tpartitionBy('hash', 1)) ~> NormalizedMethods"
				}
			},
			"dependsOn": []
		}
	]
}